<div class="bg-gray-200 py-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>@@heading</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="components/components.html">@@pageFolder</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@@pageName</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
