<div id="sidebar" class="side-nav">
  <div class="sidebar__inner">
    <ul class="nav flex-column" id="sidebarnav" data-simplebar>
      <li class="navbar-header mt-0">
        <h5 class="heading fs-6">Getting Started</h5>
        <ul class="nav-ul list-unstyled">
          <li class="nav-item">
            <a href="docs/index.html.twig" class="nav-link">Introduction</a>
          </li>
          <li class="nav-item">
            <a href="docs/environment-setup.html" class="nav-link">Environment setup</a>
          </li>
          <li class="nav-item">
            <a href="docs/working-with-gulp.html" class="nav-link">Working with Gulp</a>
          </li>
          <li class="nav-item">
            <a href="docs/compiled-files.html" class="nav-link">Compiled Files</a>
          </li>
          <li class="nav-item">
            <a href="docs/file-structure.html" class="nav-link">File Structure</a>
          </li>
          <li class="nav-item">
            <a href="docs/resources-assets.html" class="nav-link">Resources & assets</a>
          </li>
          <li class="nav-item">
            <a href="docs/changelog.html" class="nav-link">Changelog</a>
          </li>
        </ul>
      </li>
      <li class="navbar-header mt-0">
        <h5 class="heading fs-6">Foundation</h5>
        <ul class="nav-ul list-unstyled">
          <li class="nav-item">
            <a href="components/typography.html" class="nav-link">Typography</a>
          </li>
          <li class="nav-item">
            <a href="components/colors.html" class="nav-link">Colors</a>
          </li>
          <li class="nav-item">
            <a href="components/shadows.html" class="nav-link">Shadows</a>
          </li>
        </ul>
      </li>
      <li class="navbar-header mt-0">
        <h5 class="heading fs-6">Components</h5>
        <ul class="nav-ul list-unstyled">
          <li class="nav-item">
            <a href="components/accordions.html" class="nav-link">Accordions</a>
          </li>
          <li class="nav-item">
            <a href="components/alerts.html" class="nav-link">Alerts</a>
          </li>
          <li class="nav-item">
            <a href="components/avatar.html" class="nav-link">Avatar</a>
          </li>
          <li class="nav-item">
            <a href="components/badge.html" class="nav-link">Badge</a>
          </li>
          <li class="nav-item">
            <a href="components/breadcrumb.html" class="nav-link">Breadcrumb</a>
          </li>
          <li class="nav-item">
            <a href="components/buttons.html" class="nav-link">Buttons</a>
          </li>

          <li class="nav-item">
            <a href="components/card.html" class="nav-link">Card</a>
          </li>
          <li class="nav-item">
            <a href="components/carousel.html" class="nav-link">Carousel</a>
          </li>
          <li class="nav-item">
            <a href="components/collapse.html" class="nav-link">Collapse</a>
          </li>
          <li class="nav-item">
            <a href="components/dropdowns.html" class="nav-link">Dropdowns</a>
          </li>
          <li class="nav-item">
            <a href="components/forms.html" class="nav-link"> Forms </a>
          </li>
          <li class="nav-item">
            <a href="components/forms-floating.html" class="nav-link"> Floating Forms </a>
          </li>
          <li class="nav-item">
            <a href="components/list-group.html" class="nav-link"> List group </a>
          </li>
          <li class="nav-item">
            <a href="components/modal.html" class="nav-link">Modal</a>
          </li>
          <li class="nav-item">
            <a href="components/navs-tabs.html" class="nav-link"> Navs & tabs </a>
          </li>
          <li class="nav-item">
            <a href="components/offcanvas.html" class="nav-link">Offcanvas</a>
          </li>
          <li class="nav-item">
            <a href="components/pagination.html" class="nav-link">Pagination</a>
          </li>
          <li class="nav-item">
            <a href="components/placeholders.html" class="nav-link">Placeholders</a>
          </li>
          <li class="nav-item">
            <a href="components/popovers.html" class="nav-link">Popovers</a>
          </li>
          <li class="nav-item">
            <a href="components/progress.html" class="nav-link">Progress</a>
          </li>
          <li class="nav-item">
            <a href="components/scrollspy.html" class="nav-link">Scrollspy</a>
          </li>
          <li class="nav-item">
            <a href="components/spinners.html" class="nav-link">Spinners</a>
          </li>
          <li class="nav-item">
            <a href="components/tables.html" class="nav-link">Tables</a>
          </li>
          <li class="nav-item">
            <a href="components/toasts.html" class="nav-link">Toasts</a>
          </li>
          <li class="nav-item">
            <a href="components/tooltips.html" class="nav-link">Tooltips</a>
          </li>
        </ul>
      </li>
      <li class="navbar-header mt-0">
        <h5 class="heading fs-6">Plugins</h5>
        <ul class="nav-ul list-unstyled">
          <li class="nav-item">
            <a href="plugins/bs-stepper.html" class="nav-link">Bs Stepper</a>
          </li>
          <li class="nav-item">
            <a href="plugins/choice-js.html" class="nav-link">Choice Js</a>
          </li>
          <li class="nav-item">
            <a href="plugins/dragula.html" class="nav-link">Dragula</a>
          </li>
          <li class="nav-item">
            <a href="plugins/dropzone.html" class="nav-link">Dropzone</a>
          </li>
          <li class="nav-item">
            <a href="plugins/flatpickr.html" class="nav-link">Flatpickr</a>
          </li>
          <li class="nav-item">
            <a href="plugins/imask.html" class="nav-link">Imask</a>
          </li>
          <li class="nav-item">
            <a href="plugins/jsvectormap.html" class="nav-link">Jsvectormap</a>
          </li>

          <li class="nav-item">
            <a href="plugins/list-js.html" class="nav-link">List Js</a>
          </li>
          <li class="nav-item">
            <a href="plugins/quill.html" class="nav-link">Quill</a>
          </li>
          <li class="nav-item">
            <a href="plugins/swiper.html" class="nav-link">Swiper</a>
          </li>
          <li class="nav-item">
            <a href="plugins/tippy-js.html" class="nav-link">Tippy Js</a>
          </li>
        </ul>
      </li>
      <li class="navbar-header mt-0">
        <h5 class="heading fs-6">Utilities</h5>
        <ul class="nav-ul list-unstyled">
          <li class="nav-item">
            <a href="utilities/background.html" class="nav-link">Background</a>
          </li>
          <li class="nav-item">
            <a href="utilities/borders.html" class="nav-link">Borders</a>
          </li>
          <li class="nav-item">
            <a href="utilities/colored-links.html" class="nav-link"> Colored Links </a>
          </li>
          <li class="nav-item">
            <a href="utilities/colors.html" class="nav-link">Colors</a>
          </li>
          <li class="nav-item">
            <a href="utilities/display.html" class="nav-link">Display</a>
          </li>
          <li class="nav-item">
            <a href="utilities/flex.html" class="nav-link">Flex</a>
          </li>
          <li class="nav-item">
            <a href="utilities/float.html" class="nav-link">Float</a>
          </li>
          <li class="nav-item">
            <a href="utilities/opacity.html" class="nav-link">Opacity</a>
          </li>
          <li class="nav-item">
            <a href="utilities/overflow.html" class="nav-link">Overflow</a>
          </li>

          <li class="nav-item">
            <a href="utilities/stacks.html" class="nav-link">Stacks</a>
          </li>
          <li class="nav-item">
            <a href="utilities/vertical-rule.html" class="nav-link"> Vertical rule</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
