<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/../partials/head/head-meta.html.twig" %}
    <title>Seller | Dasher - Responsive Bootstrap 5 Admin Dashboard</title>
    {% include "partials/../partials/head/head-links.html.twig" %}
  </head>

  <body>
    <!-- Vertical Sidebar -->
    <div>
      {% include "partials/../partials/sidebar-collapse.html.twig" %}

      <!-- Main Content -->
      <div id="content" class="position-relative h-100">
        {% include "partials/../partials/topbar-second.html.twig" %}
        <div class="custom-container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Page header -->
              <div class="mb-8 d-md-flex justify-content-between align-items-center">
                <div>
                  <h1 class="mb-3 h2">Seller</h1>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Ecommerce</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Seller</li>
                    </ol>
                  </nav>
                </div>
                <div>
                  <a href="#!" class="btn btn-dark d-md-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#addCustomerModal">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 5l0 14" />
                      <path d="M5 12l14 0" />
                    </svg>
                    Add Seller</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div>
            <!-- row -->

            <div class="row justify-content-between mb-4">
              <div class="col-xl-4 col-md-12">
                <input type="search" class="form-control" placeholder="Search for seller and ownwer name..." />
              </div>
              <div class="col-xl-8 col-md-12 d-flex justify-content-xl-end mt-4 mt-xl-0">
                <div class="me-2">
                  <select class="form-select" data-choices="">
                    <option selected>Status</option>
                    <option value="One">One</option>
                    <option value="Two">Two</option>
                    <option value="Three">Three</option>
                  </select>
                </div>
                <a href="#!" class="btn btn-secondary me-2">Filter</a>
              </div>
            </div>
            <div class="row g-6">
              <div class="col-xxl-3 col-md-6">
                <div class="card card-lg">
                  <div class="card-body px-6 py-5 text-center">
                    <div class="my-4 d-flex flex-column gap-5">
                      <div>
                        <img src="../../assets/images/svg/seller-1.svg" alt="Image" />
                      </div>
                      <div>
                        <h5 class="mb-0">True Line Store</h5>
                        <span class="text-secondary">Adam Pyles</span>
                      </div>
                    </div>

                    <div class="mt-6 d-flex justify-content-center gap-8">
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">345</div>
                          <span class="text-secondary">Products</span>
                        </div>
                      </div>
                      <div class="border-end border-dashed"></div>
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">$45,129</div>
                          <span class="text-secondary">Wallet Balance</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end border-top border-dashed px-6 py-5">
                    <a href="#!" class="btn btn-subtle-primary">
                      <span>View Details</span>
                      <span class="ms-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-arrow-narrow-right"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l14 0" />
                          <path d="M15 16l4 -4" />
                          <path d="M15 8l4 4" />
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6">
                <div class="card card-lg">
                  <div class="card-body text-center px-6 py-5">
                    <div class="my-4 d-flex flex-column gap-5">
                      <div>
                        <img src="../../assets/images/svg/seller-2.svg" alt="Image" />
                      </div>
                      <div>
                        <h5 class="mb-0">Nykaa Fashion</h5>
                        <span class="text-secondary">Brian Raines</span>
                      </div>
                    </div>
                    <div class="mt-6 d-flex justify-content-center gap-8">
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">1234</div>
                          <span class="text-secondary">Products</span>
                        </div>
                      </div>
                      <div class="border-end border-dashed"></div>
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">$1,45,129</div>
                          <span class="text-secondary">Wallet Balance</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end border-top border-dashed px-6 py-5">
                    <a href="#!" class="btn btn-subtle-primary">
                      <span>View Details</span>
                      <span class="ms-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-arrow-narrow-right"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l14 0" />
                          <path d="M15 16l4 -4" />
                          <path d="M15 8l4 4" />
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6">
                <div class="card card-lg">
                  <div class="card-body text-center px-6 py-5">
                    <div class="my-4 d-flex flex-column gap-5">
                      <div>
                        <img src="../../assets/images/svg/seller-3.svg" alt="Image" />
                      </div>
                      <div>
                        <h5 class="mb-0">Beverly Maclean</h5>
                        <span class="text-secondary">Brian Raines</span>
                      </div>
                    </div>
                    <div class="mt-6 d-flex justify-content-center gap-8">
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">456</div>
                          <span class="text-secondary">Products</span>
                        </div>
                      </div>
                      <div class="border-end border-dashed"></div>
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">$53,269</div>
                          <span class="text-secondary">Wallet Balance</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end border-top border-dashed px-6 py-5">
                    <a href="#!" class="btn btn-subtle-primary">
                      <span>View Details</span>
                      <span class="ms-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-arrow-narrow-right"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l14 0" />
                          <path d="M15 16l4 -4" />
                          <path d="M15 8l4 4" />
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6">
                <div class="card card-lg">
                  <div class="card-body text-center px-6 py-5">
                    <div class="my-4 d-flex flex-column gap-5">
                      <div>
                        <img src="../../assets/images/svg/seller-4.svg" alt="Image" />
                      </div>
                      <div>
                        <h5 class="mb-0">Nine Digital Store</h5>
                        <span class="text-secondary">Adam Pyles</span>
                      </div>
                    </div>
                    <div class="mt-6 d-flex justify-content-center gap-8">
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">242</div>
                          <span class="text-secondary">Products</span>
                        </div>
                      </div>
                      <div class="border-end border-dashed"></div>
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">$63,789</div>
                          <span class="text-secondary">Wallet Balance</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end border-top border-dashed px-6 py-5">
                    <a href="#!" class="btn btn-subtle-primary">
                      <span>View Details</span>
                      <span class="ms-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-arrow-narrow-right"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l14 0" />
                          <path d="M15 16l4 -4" />
                          <path d="M15 8l4 4" />
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6">
                <div class="card card-lg">
                  <div class="card-body text-center px-6 py-5">
                    <div class="my-4 d-flex flex-column gap-5">
                      <div>
                        <img src="../../assets/images/svg/seller-5.svg" alt="Image" />
                      </div>
                      <div>
                        <h5 class="mb-0">Titan Jewellery</h5>
                        <span class="text-secondary">Brian Raines</span>
                      </div>
                    </div>
                    <div class="mt-6 d-flex justify-content-center gap-8">
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">636</div>
                          <span class="text-secondary">Products</span>
                        </div>
                      </div>
                      <div class="border-end border-dashed"></div>
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">$13,976</div>
                          <span class="text-secondary">Wallet Balance</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end border-top border-dashed px-6 py-5">
                    <a href="#!" class="btn btn-subtle-primary">
                      <span>View Details</span>
                      <span class="ms-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-arrow-narrow-right"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l14 0" />
                          <path d="M15 16l4 -4" />
                          <path d="M15 8l4 4" />
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6">
                <div class="card card-lg">
                  <div class="card-body text-center px-6 py-5">
                    <div class="my-4 d-flex flex-column gap-5">
                      <div>
                        <img src="../../assets/images/svg/seller-6.svg" alt="Image" />
                      </div>
                      <div>
                        <h5 class="mb-0">HalfRound Store</h5>
                        <span class="text-secondary">Beverly Maclean</span>
                      </div>
                    </div>
                    <div class="mt-6 d-flex justify-content-center gap-8">
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">456</div>
                          <span class="text-secondary">Products</span>
                        </div>
                      </div>
                      <div class="border-end border-dashed"></div>
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">$13,976</div>
                          <span class="text-secondary">Wallet Balance</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end border-top border-dashed px-6 py-5">
                    <a href="#!" class="btn btn-subtle-primary">
                      <span>View Details</span>
                      <span class="ms-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-arrow-narrow-right"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l14 0" />
                          <path d="M15 16l4 -4" />
                          <path d="M15 8l4 4" />
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6">
                <div class="card card-lg">
                  <div class="card-body text-center px-6 py-5">
                    <div class="my-4 d-flex flex-column gap-5">
                      <div>
                        <img src="../../assets/images/svg/seller-2.svg" alt="Image" />
                      </div>
                      <div>
                        <h5 class="mb-0">True Line Store</h5>
                        <span class="text-secondary">Beverly Maclean</span>
                      </div>
                    </div>
                    <div class="mt-6 d-flex justify-content-center gap-8">
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">283</div>
                          <span class="text-secondary">Products</span>
                        </div>
                      </div>
                      <div class="border-end border-dashed"></div>
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">$10,976</div>
                          <span class="text-secondary">Wallet Balance</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end border-top border-dashed px-6 py-5">
                    <a href="#!" class="btn btn-subtle-primary">
                      <span>View Details</span>
                      <span class="ms-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-arrow-narrow-right"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l14 0" />
                          <path d="M15 16l4 -4" />
                          <path d="M15 8l4 4" />
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6">
                <div class="card card-lg">
                  <div class="card-body text-center px-6 py-5">
                    <div class="my-4 d-flex flex-column gap-5">
                      <div>
                        <img src="../../assets/images/svg/seller-1.svg" alt="Image" />
                      </div>
                      <div>
                        <h5 class="mb-0">Nykaa Fashion</h5>
                        <span class="text-secondary">Brian Raines</span>
                      </div>
                    </div>
                    <div class="mt-6 d-flex justify-content-center gap-8">
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">560</div>
                          <span class="text-secondary">Products</span>
                        </div>
                      </div>
                      <div class="border-end border-dashed"></div>
                      <div>
                        <div>
                          <div class="fs-5 fw-bold">$12,300</div>
                          <span class="text-secondary">Wallet Balance</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end border-top border-dashed px-6 py-5">
                    <a href="#!" class="btn btn-subtle-primary">
                      <span>View Details</span>
                      <span class="ms-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-arrow-narrow-right"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l14 0" />
                          <path d="M15 16l4 -4" />
                          <path d="M15 8l4 4" />
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="addCustomerModalLabel">Add Customer</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div>
                <div class="mb-3">
                  <label for="customerName" class="form-label">Customer name</label>
                  <input type="text" class="form-control" placeholder="Enter name" id="customerName" />
                </div>
                <div class="mb-3">
                  <label for="customerEmail" class="form-label">Email</label>
                  <input type="email" class="form-control" placeholder="Enter Email" id="customerEmail" />
                </div>
                <div class="mb-3">
                  <label for="customerPhone" class="form-label">Phone</label>
                  <input type="text" class="form-control" placeholder="Enter Phone" id="customerPhone" />
                </div>
                <div class="mb-3">
                  <label for="customerDate" class="form-label">Joining Date</label>
                  <input type="text" class="form-control flatpickr" placeholder="Select date" id="customerDate" />
                </div>
                <div class="text-end">
                  <button type="button" class="btn btn-primary me-1">+ Add Customer</button>
                  <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/../partials/scripts.html.twig" %}
    <script src="{{ asset('js/vendors/sidebarnav.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="{{ asset('js/vendors/choice.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ asset('js/vendors/flatpickr.js') }}"></script>
  </body>
</html>
