<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head/head-meta.html.twig" %}
    <title>Blank | Dasher - Responsive Bootstrap 5 Admin Dashboard</title>
    {% include "partials/head/head-links.html.twig" %}
  </head>

  <body>
    <!-- Vertical Sidebar -->
    <div>
      {% include "partials/sidebar-collapse.html.twig" %}

      <!-- Main Content -->
      <div id="content" class="position-relative h-100">
        {% include "partials/topbar-second.html.twig" %}
        <div class="custom-container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Page header -->
              <div class="mb-5">
                  <h1 class="mb-3 h2">Blank</h1>
              </div>
            </div>
          </div>
      </div>
    </div>

    {% include "partials/scripts.html.twig" %}

  </body>
</html>
