<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/../partials/head/head-meta.html.twig" %}
    <title>Mail Details | Dasher - Responsive Bootstrap 5 Admin Dashboard</title>
    {% include "partials/../partials/head/head-links.html.twig" %}
  </head>

  <body>
    <!-- Vertical Sidebar -->
    <div>
      {% include "partials/../partials/sidebar-collapse.html.twig" %}

      <!-- Main Content -->
      <div id="content" class="position-relative vh-100">
        {% include "partials/../partials/topbar-second.html.twig" %}
        <div class="custom-container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Page header -->
              <div class="mb-8">
                <div>
                  <h1 class="mb-3 h2">Mail</h1>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Email</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Details</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-100 p-6 rounded-4 border">
            <div class="row gx-4">
              <div class="col-xxl-2 col-xl-3 mb-4 mb-lg-0">
                <div class="position-relative h-100">
                  <div class="card-body">
                    <nav class="navbar-mail">
                      <ul class="navbar-nav flex-column w-100">
                        <li class="d-grid mb-4"><a href="compose.html" class="btn btn-primary">Compose New Email</a></li>

                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#!">
                            <div class="d-flex align-items-center justify-content-between">
                              <span class="d-flex align-items-center">
                                <span>
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="18"
                                    height="18"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
                                  >
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                                    <path d="M3 7l9 6l9 -6" />
                                  </svg>
                                </span>
                                <span class="ms-2">All</span>
                              </span>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <div class="d-flex align-items-center justify-content-between">
                              <span class="d-flex align-items-center">
                                <span>
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-inbox"
                                    width="18"
                                    height="18"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  >
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                    <path d="M4 13h3l3 3h4l3 -3h3" />
                                  </svg>
                                </span>
                                <span class="ms-2">Inbox</span>
                              </span>
                              <span>3</span>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <div class="d-flex align-items-center justify-content-between">
                              <span class="d-flex align-items-center">
                                <span>
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-send"
                                    width="18"
                                    height="18"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  >
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M10 14l11 -11" />
                                    <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" />
                                  </svg>
                                </span>
                                <span class="ms-2">Sent</span>
                              </span>
                              <span>5</span>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <span class="d-flex align-items-center">
                              <span>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-mail"
                                  width="18"
                                  height="18"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                                  <path d="M3 7l9 6l9 -6" />
                                </svg>
                              </span>
                              <span class="ms-2">Drafts</span>
                            </span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <span class="d-flex align-items-center justify-content-between">
                              <span class="d-flex align-items-center">
                                <span>
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-alert-circle"
                                    width="18"
                                    height="18"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  >
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                                    <path d="M12 8v4" />
                                    <path d="M12 16h.01" />
                                  </svg>
                                </span>
                                <span class="ms-2">Spam</span>
                              </span>
                              <span>1</span>
                            </span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <span class="d-flex align-items-center">
                              <span>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-trash"
                                  width="18"
                                  height="18"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M4 7l16 0" />
                                  <path d="M10 11l0 6" />
                                  <path d="M14 11l0 6" />
                                  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                </svg>
                              </span>
                              <span class="ms-2">Trash</span>
                            </span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <span class="d-flex align-items-center">
                              <span>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-archive"
                                  width="18"
                                  height="18"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                                  <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10" />
                                  <path d="M10 12l4 0" />
                                </svg>
                              </span>
                              <span class="ms-2">Archive</span>
                            </span>
                          </a>
                        </li>
                        <li class="nav-item mb-2 mt-6">
                          <small class="text-uppercase fw-semibold">Filter</small>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <span class="d-flex align-items-center">
                              <span>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-star"
                                  width="18"
                                  height="18"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                                </svg>
                              </span>
                              <span class="ms-2">Starred</span>
                            </span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <span class="d-flex align-items-center">
                              <span>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="18"
                                  height="18"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-label-important"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M16.52 7h-12.52l4 5l-4 5h12.52a1 1 0 0 0 .78 -.375l3.7 -4.625l-3.7 -4.625a1 1 0 0 0 -.78 -.375" />
                                </svg>
                              </span>
                              <span class="ms-2">Important</span>
                            </span>
                          </a>
                        </li>
                        <li class="nav-item mb-2 mt-6">
                          <small class="text-uppercase fw-semibold">Labels</small>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <span class="d-flex align-items-center">
                              <span>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-tag text-success"
                                  width="18"
                                  height="18"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path
                                    d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z"
                                  />
                                </svg>
                              </span>
                              <span class="ms-2">Personal</span>
                            </span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <span class="d-flex align-items-center">
                              <span>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-tag text-danger"
                                  width="18"
                                  height="18"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path
                                    d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z"
                                  />
                                </svg>
                              </span>
                              <span class="ms-2">Work</span>
                            </span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <span class="d-flex align-items-center">
                              <span>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-tag text-warning"
                                  width="18"
                                  height="18"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path
                                    d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z"
                                  />
                                </svg>
                              </span>
                              <span class="ms-2">Payments</span>
                            </span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <span class="d-flex align-items-center">
                              <span>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-tag text-info"
                                  width="18"
                                  height="18"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path
                                    d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z"
                                  />
                                </svg>
                              </span>
                              <span class="ms-2">Invoices</span>
                            </span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!">
                            <span class="d-flex align-items-center">
                              <span>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-tag text-primary"
                                  width="18"
                                  height="18"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path
                                    d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z"
                                  />
                                </svg>
                              </span>
                              <span class="ms-2">Bank</span>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="col-xxl-10 col-xl-9 col-12">
                <div class="position-relative h-100">
                  <div class="mb-4">
                    <form>
                      <div class="position-relative">
                        <input type="search" class="form-control ps-9" placeholder="Search Email" />
                        <span class="position-absolute top-50 start-0 translate-middle-y ms-3">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-search text-secondary"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                            <path d="M21 21l-6 -6" />
                          </svg>
                        </span>
                      </div>
                    </form>
                  </div>
                  <div class="card card-lg">
                    <!-- card header -->

                    <!-- card body -->
                    <div class="card-body px-6 py-5">
                      <div class="d-md-flex justify-content-between align-items-center mb-6">
                        <div class="d-flex mb-3 mb-md-0">
                          <div>
                            <a href="mail.html" class="btn btn-white btn-sm btn-icon texttooltip" data-template="inboxOne">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-arrow-left"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M5 12l14 0" />
                                <path d="M5 12l6 6" />
                                <path d="M5 12l6 -6" />
                              </svg>
                              <div id="inboxOne" class="d-none">
                                <span>Back to inbox</span>
                              </div>
                            </a>
                          </div>
                          <!-- button group -->
                          <div class="ms-2">
                            <div class="btn-group" role="group">
                              <a href="#" class="btn btn-white btn-sm btn-icon texttooltip" data-template="archieveOne">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-archive"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                                  <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10" />
                                  <path d="M10 12l4 0" />
                                </svg>
                                <div id="archieveOne" class="d-none">
                                  <span>Archive</span>
                                </div>
                              </a>
                              <a href="#" class="btn btn-white btn-sm btn-icon texttooltip" data-template="spanOne">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-alert-triangle"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 9v4" />
                                  <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" />
                                  <path d="M12 16h.01" />
                                </svg>
                                <div id="spanOne" class="d-none">
                                  <span>Spam</span>
                                </div>
                              </a>
                              <a href="#" class="btn btn-white btn-sm btn-icon texttooltip" data-template="trashOne">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-trash"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M4 7l16 0" />
                                  <path d="M10 11l0 6" />
                                  <path d="M14 11l0 6" />
                                  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                </svg>
                                <div id="trashOne" class="d-none">
                                  <span>Delete</span>
                                </div>
                              </a>
                            </div>
                          </div>
                          <div class="ms-2">
                            <a href="#" class="btn btn-white btn-sm btn-icon texttooltip" data-template="mailOne">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-mail"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                                <path d="M3 7l9 6l9 -6" />
                              </svg>
                              <div id="mailOne" class="d-none">
                                <span>Mark as unread</span>
                              </div>
                            </a>
                          </div>
                        </div>
                        <!-- button -->
                        <div class="d-flex align-items-center">
                          <div>
                            <span>4 of 437</span>
                          </div>
                          <div class="ms-3">
                            <a href="#" class="btn btn-white btn-sm btn-icon texttooltip" data-template="newerOne">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-chevron-left"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M15 6l-6 6l6 6" />
                              </svg>
                              <div id="newerOne" class="d-none">
                                <span>Newer</span>
                              </div>
                            </a>
                            <a href="#" class="btn btn-white btn-sm btn-icon texttooltip" data-template="olderOne">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-chevron-right"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 6l6 6l-6 6" />
                              </svg>
                              <div id="olderOne" class="d-none">
                                <span>Older</span>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="d-xl-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center mb-3 mb-xl-0">
                          <!-- img -->
                          <div>
                            <img src="../../assets/images/avatar/avatar-11.jpg" alt="Image" class="rounded-circle avatar-md" />
                          </div>
                          <!-- sidebar -->
                          <div class="ms-3 lh-1">
                            <h4 class="mb-1 fs-5">Contact For "Website Design"</h4>
                            <p class="mb-0 small text-secondary">Codescandy hello@example.com</p>
                          </div>
                        </div>
                        <!-- text -->
                        <div class="d-flex align-items-center">
                          <div>
                            <small class="text-secondary">Apr 22, 2025, 12:40 AM (1 day ago)</small>
                          </div>
                          <div class="ms-2">
                            <a href="#!" class="text-secondary texttooltip" data-template="starOne">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-star"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                              </svg>
                              <div id="starOne" class="d-none">
                                <span>Star</span>
                              </div>
                            </a>
                            <a href="#!" class="text-secondary texttooltip ms-2" data-template="repyOne">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-corner-up-right"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M6 18v-6a3 3 0 0 1 3 -3h10l-4 -4m0 8l4 -4" />
                              </svg>
                              <div id="repyOne" class="d-none">
                                <span>Reply</span>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- text -->
                      <div class="mt-6">
                        <p class="mb-3">Hello Lesile Alexander,</p>
                        <p>
                          Ullamco deserunt commodo esse deserunt deserunt quis eiusmod. Laborum sint excepteur non sit eiusmod sunt voluptate ipsum nisi ullamco magna. Lorem consectetur est dolor
                          minim exercitation deserunt quis duis fugiat ipsum incididunt non.
                          <span>Anim aute ipsum cupidatat</span>
                          nisi occaecat quis sit nisi labore labore dolore do. Pariatur veniam culpa quis veniam nisi exercitation veniam ut.
                        </p>
                        <p>
                          Quis do sint proident fugiat ad. Nunc at magna vitae dolor maximus placerat. Nam quis arcu sodales, eleifend ex vitae, pellentesque ligula. Nunc ut tristique
                          <a href="#!">nisi, id ullamcorper justo.</a>
                        </p>
                        <p>
                          The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.Quisque imperdiet mauris turpis, sed malesuada metus
                          elementum dictum. Vestibulum hendrerit malesuada elementum.
                        </p>
                        <p class="mb-0">
                          Proin elementum, sem in ornare sodales, dui purus lobortis mi, ut iaculis lacus enim in dolor. In velit sapien, dignissim accumsan nibh eu, eleifend luctus metus. Quisque
                          egestas nisl in enim hendrerit, at vestibulum turpis tincidunt.
                        </p>
                        <div class="mt-6">
                          <p class="mb-0">Cheers!</p>
                          <p class="font-weight-bold mb-0">Leslie Alexander</p>
                        </div>
                        <div class="border-top py-4 mt-6">
                          <p class="d-flex align-items-center">
                            <span>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-paperclip"
                                width="14"
                                height="14"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
                              </svg>
                            </span>
                            <small class="ms-2 text-secondary">2 Attachments</small>
                          </p>
                          <div class="d-flex flex-column flex-md-row gap-3">
                            <div class="d-flex align-items-center">
                              <img src="../../assets/images/blog/blog-img-1.jpg" alt="Image" class="icon-lg rounded-2" />
                              <div class="ms-2">
                                <div class="fs-6">image-thumbnail.jpg</div>
                                <div class="small">15.54 KB</div>
                              </div>
                            </div>
                            <div class="d-flex align-items-center">
                              <div class="icon-shape icon-lg bg-danger text-white rounded-2">
                                <small>PDF</small>
                              </div>
                              <div class="ms-2">
                                <div class="fs-6">thumbnail.pdf</div>
                                <div class="small">243.45 KB</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- card footer -->
                    <div class="card-footer px-6 py-5 d-flex gap-2">
                      <button class="btn btn-white btn-sm">
                        <span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-arrow-back-up"
                            width="14"
                            height="14"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 14l-4 -4l4 -4" />
                            <path d="M5 10h11a4 4 0 1 1 0 8h-1" />
                          </svg>
                        </span>
                        <span class="ms-1">Reply</span>
                      </button>
                      <button class="btn btn-white btn-sm">
                        <span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-arrow-back-up-double"
                            width="14"
                            height="14"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M13 14l-4 -4l4 -4" />
                            <path d="M8 14l-4 -4l4 -4" />
                            <path d="M9 10h7a4 4 0 1 1 0 8h-1" />
                          </svg>
                        </span>
                        <span class="ms-1">Reply All</span>
                      </button>
                      <button class="btn btn-white btn-sm">
                        <span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-arrow-big-right"
                            width="14"
                            height="14"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" />
                          </svg>
                        </span>
                        <span class="ms-1">Forward</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "partials/../partials/scripts.html.twig" %}
    <script src="{{ asset('js/vendors/sidebarnav.js') }}"></script>
    <!-- quill js -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
    <script src="{{ asset('js/vendors/editor.js') }}"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <!-- tippy js -->
    <script src="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy-bundle.umd.min.js"></script>
    <script src="{{ asset('js/vendors/tippy.js') }}"></script>
  </body>
</html>
