<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/../partials/head/head-meta.html.twig" %}
    <title>Forget Password | Dasher - Responsive Bootstrap 5 Admin Dashboard</title>
    {% include "partials/../partials/head/head-links.html.twig" %}
  </head>

  <body>
    <main class="d-flex flex-column justify-content-center vh-100">
      <!--Sign up start-->
      <section>
        <div class="container">
          <div class="row mb-8">
            <div class="col-xl-4 offset-xl-4 col-md-12 col-12">
              <div class="text-center">
                <a href="../../index.html.twig" class="fs-2 fw-bold d-flex align-items-center gap-2 justify-content-center mb-6">
                  <img src="{{ asset('images/brand/logo/logo-icon.svg') }}" alt="" />
                  <span>Dasher</span>
                </a>
                <h1 class="mb-1">Forgot Password</h1>
                <p class="mb-0 text-secondary">No worries, we will send you reset instruction.</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-12">
              <div class="card card-lg mb-6">
                <div class="card-body p-6">
                  <form class="needs-validation mb-5" novalidate>
                    <div class="mb-3">
                      <label for="forgetEmailInput" class="form-label">
                        Email
                        <span class="text-danger">*</span>
                      </label>
                      <input type="email" class="form-control" id="forgetEmailInput" placeholder="Enter your email" required />
                      <div class="invalid-feedback">Please enter email.</div>
                    </div>
                    <div class="d-grid">
                      <button class="btn btn-primary" type="submit">Reset Password</button>
                    </div>
                  </form>
                  <div class="text-center">
                    <a href="./sign-in.html">
                      <span>Back to Login</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Sign up end-->
      <div class="position-absolute end-0 bottom-0 m-4">
        <div class="dropdown">
          <button class="btn btn-light btn-icon rounded-circle d-flex align-items-center" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
            <i class="bi theme-icon-active lh-1"><i class="bi theme-icon bi-sun-fill"></i></i>
            <span class="visually-hidden bs-theme-text">Toggle theme</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true">
                <i class="ti theme-icon ti ti-sun"></i>
                <span class="ms-2">Light</span>
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                <i class="ti theme-icon ti-moon-stars"></i>
                <span class="ms-2">Dark</span>
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                <i class="ti theme-icon ti-circle-half-2"></i>
                <span class="ms-2">Auto</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </main>

    {% include "partials/../partials/scripts.html.twig" %}
  </body>
</html>
