<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/../partials/head/head-meta.html.twig" %}

    <title>Budget | Dasher - Responsive Bootstrap 5 Admin Dashboard</title>

    {% include "partials/../partials/head/head-links.html.twig" %}
  </head>

  <body>
    <!-- Vertical Sidebar -->
    <div>
      {% include "partials/../partials/sidebar-collapse.html.twig" %}

      <!-- Main Content -->
      <div id="content" class="position-relative h-100">
        {% include "partials/../partials/topbar-second.html.twig" %}
        <div class="custom-container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Page header -->
              <div class="mb-8">
                <div>
                  <h1 class="mb-3 h2">Budget</h1>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Project</a></li>
                      <li class="breadcrumb-item"><a href="#">Single</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Budget</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-lg mb-6">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-12">
                <!-- Page header -->
                <div class="d-lg-flex align-items-center justify-content-between px-6 border-bottom border-dashed p-6">
                  <div class="mb-6 mb-lg-0">
                    <div class="d-flex align-items-center">
                      <div class="icon-shape icon-lg bg-primary-subtle rounded-2 d-none d-xl-block">
                        <img src="../../assets/images/brand/logo/logo-icon.svg" alt="Image" />
                      </div>
                      <div class="ms-xl-4">
                        <h1 class="mb-1 h2">Dasher UI - Design & Development</h1>
                        <span class="text-secondary">
                          <span class="small">
                            <span class="me-1"> Codescandy </span>

                            <span class="mx-1">
                              Create Date:
                              <span>1 Jan 2025</span>
                            </span>

                            <span class="mx-1">
                              Due Date:
                              <span>29 Jan 2025</span>
                            </span>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <!-- avatar group -->
                    <div class="avatar-group">
                      <span class="avatar avatar-md">
                        <!-- avatar  -->
                        <img alt="avatar" src="../../assets/images/avatar/avatar-11.jpg" class="rounded-circle imgtooltip" data-template="one" />
                        <span id="one" class="d-none">
                          <small>Paul Haney</small>
                        </span>
                      </span>
                      <!-- avatar  -->
                      <span class="avatar avatar-md">
                        <img alt="avatar" src="../../assets/images/avatar/avatar-2.jpg" class="rounded-circle imgtooltip" data-template="two" />
                        <span id="two" class="d-none">
                          <small>Gali Linear</small>
                        </span>
                      </span>
                      <!-- avatar  -->
                      <span class="avatar avatar-md">
                        <img alt="avatar" src="../../assets/images/avatar/avatar-3.jpg" class="rounded-circle imgtooltip" data-template="three" />
                        <span id="three" class="d-none">
                          <small>Mary Holler</small>
                        </span>
                      </span>
                      <!-- avatar  -->
                      <span class="avatar avatar-md">
                        <img alt="avatar" src="../../assets/images/avatar/avatar-4.jpg" class="rounded-circle imgtooltip" data-template="four" />
                        <span id="four" class="d-none">
                          <small>Lio Nordal</small>
                        </span>
                      </span>
                      <!-- avatar  -->
                      <span class="avatar avatar-md">
                        <span class="avatar-initials rounded-circle bg-gray-100">5+</span>
                      </span>
                    </div>
                    <!-- icon  -->
                    <a href="#!" class="btn btn-icon btn-white border border-2 rounded-circle ms-2" data-template="inviteMember" data-bs-toggle="modal" data-bs-target="#inviteMemberModal"> + </a>
                  </div>
                </div>
                <div class="col-12">
                  <!-- nav  -->
                  <ul class="nav nav-lb-tab border-bottom-0 px-6">
                    <li class="nav-item ms-0 me-3">
                      <a class="nav-link" href="project-overview.html">Overview</a>
                    </li>
                    <li class="nav-item mx-3">
                      <a class="nav-link" href="project-task.html">Task</a>
                    </li>
                    <li class="nav-item mx-3">
                      <a class="nav-link active" href="project-budget.html">Budget</a>
                    </li>
                    <li class="nav-item mx-3">
                      <a class="nav-link" href="project-files.html">Files</a>
                    </li>
                    <li class="nav-item mx-3">
                      <a class="nav-link" href="project-team.html">Team</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-6">
            <div class="col-md-12">
              <!-- card -->
              <div class="card card-lg">
                <!-- card body -->

                <!-- row -->
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="card-body border-bottom border-dashed px-6 py-5">
                      <h5 class="mb-4">Budget</h5>
                      <div class="d-flex justify-content-between mb-2 text-secondary">
                        <div>
                          <span>
                            <span>$52,000</span>
                            (Total%}
                          </span>
                        </div>
                        <div>
                          <span>
                            <span>$8,770</span>
                            Remaining
                          </span>
                        </div>
                      </div>
                      <div class="progress" style="height: 10px">
                        <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-info" role="progressbar" style="width: 16%" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                  <!-- col -->
                  <div class="col-md-4 col-12">
                    <div class="d-flex align-items-center justify-content-between p-4 mx-3">
                      <div>
                        <div class="mb-0 fs-5 fw-bold">$52,000</div>
                        <span class="mb-0 text-secondary">Total Budget</span>
                      </div>
                      <div class="ms-3">
                        <div class="icon-shape icon-lg bg-primary-subtle text-primary-emphasis rounded-circle">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-currency-dollar"
                            width="28"
                            height="28"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2" />
                            <path d="M12 3v3m0 12v3" />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- col -->
                  <div class="col-md-4 col-12 border-start-md border-dashed">
                    <div class="d-flex align-items-center justify-content-between p-4 mx-3">
                      <div>
                        <div class="mb-0 fs-5 fw-bold">$43,230</div>
                        <span class="mb-0 text-secondary">Total Spent</span>
                      </div>
                      <div class="ms-3">
                        <div class="icon-shape icon-lg bg-danger-subtle text-danger-emphasis rounded-circle">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-shopping-cart"
                            width="28"
                            height="28"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17h-11v-14h-2" />
                            <path d="M6 5l14 1l-1 7h-13" />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- col -->
                  <div class="col-md-4 col-12 border-start-md border-dashed">
                    <div class="d-flex align-items-center justify-content-between p-4 mx-3">
                      <div>
                        <div class="mb-0 fs-5 fw-bold">$8,770</div>
                        <span class="mb-0 text-secondary">Remaining</span>
                      </div>
                      <div class="ms-3">
                        <div class="icon-shape icon-lg bg-info-subtle text-info-emphasis rounded-circle">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-chart-pie"
                            width="28"
                            height="28"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M10 3.2a9 9 0 1 0 10.8 10.8a1 1 0 0 0 -1 -1h-6.8a2 2 0 0 1 -2 -2v-7a.9 .9 0 0 0 -1 -.8" />
                            <path d="M15 3.5a9 9 0 0 1 5.5 5.5h-4.5a1 1 0 0 1 -1 -1v-4.5" />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row g-6 mb-6">
            <!-- col -->
            <div class="col-lg-6">
              <div class="card card-lg">
                <div class="card-body px-6 py-5">
                  <div class="mb-6">
                    <h5 class="mb-0">Expenses</h5>
                  </div>
                </div>
                <div id="budgetExpenseChart"></div>
              </div>
            </div>
            <!-- col -->
            <div class="col-lg-6">
              <!-- card -->
              <div class="card card-lg">
                <!-- card body -->

                <!-- row -->

                <!-- table -->
                <div class="card-body px-6 py-5">
                  <div>
                    <h5 class="mb-0">Budget Category</h5>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 table-centered table-hover">
                    <thead>
                      <tr>
                        <th>Category</th>
                        <th>Total</th>
                        <th>Percentage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-square text-warning"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          Design
                        </td>
                        <td>$9000.00</td>
                        <td>23%</td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-square text-info"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          Saas Services
                        </td>
                        <td>$4500.00</td>
                        <td>10%</td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-square text-danger"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          Development
                        </td>
                        <td>$9030.00</td>
                        <td>23.5%</td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-square text-primary"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          SEO
                        </td>
                        <td>$6800.00</td>
                        <td>18%</td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-square text-info"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          Entertainment
                        </td>
                        <td>$2400.00</td>
                        <td>4%</td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-square text-primary"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          Marketing
                        </td>
                        <td>$8320.00</td>
                        <td>19%</td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-square text-info"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          Extra
                        </td>
                        <td>$2000.00</td>
                        <td>3.5%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-12">
              <!-- card -->
              <div class="card card-lg">
                <!-- table -->
                <div class="card-body px-6 py-5">
                  <div>
                    <h5 class="mb-0">Budget Details</h5>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 table-centered table-hover">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th>Total Budget</th>
                        <th>Expenses (USD)</th>
                        <th>Expenses(%)</th>
                        <th>Remaining(USD)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-success text-info"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          Concept
                        </td>
                        <td>$12,000</td>
                        <td>$6,500</td>
                        <td>
                          <span>52%</span>
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="icon icon-tabler icon-tabler-arrow-narrow-up text-danger"
                              width="16"
                              height="16"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 5l0 14" />
                              <path d="M16 9l-4 -4" />
                              <path d="M8 9l4 -4" />
                            </svg>
                          </span>
                        </td>
                        <td>$5500</td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-square text-warning"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          Design
                        </td>
                        <td>$18,000</td>
                        <td>$8,000</td>
                        <td>
                          <span>45%</span>
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="icon icon-tabler icon-tabler-arrow-down text-success"
                              width="16"
                              height="16"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 5l0 14" />
                              <path d="M18 13l-6 6" />
                              <path d="M6 13l6 6" />
                            </svg>
                          </span>
                        </td>
                        <td>$10,000</td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-square text-danger"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          Development
                        </td>
                        <td>$64,000</td>
                        <td>$38,000</td>
                        <td>
                          <span>54%</span>
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="icon icon-tabler icon-tabler-arrow-down text-success"
                              width="16"
                              height="16"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 5l0 14" />
                              <path d="M18 13l-6 6" />
                              <path d="M6 13l6 6" />
                            </svg>
                          </span>
                        </td>
                        <td>$34,000</td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-square text-primary"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          SEO
                        </td>
                        <td>$8,000</td>
                        <td>$3,000</td>
                        <td>
                          <span>65%</span>
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="icon icon-tabler icon-tabler-arrow-down text-success"
                              width="16"
                              height="16"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 5l0 14" />
                              <path d="M18 13l-6 6" />
                              <path d="M6 13l6 6" />
                            </svg>
                          </span>
                        </td>
                        <td>$5,000</td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-square text-info"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          Extra
                        </td>
                        <td>$2,000</td>
                        <td>$1,500</td>
                        <td>
                          <span>85%</span>
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="icon icon-tabler icon-tabler-arrow-narrow-up text-danger"
                              width="16"
                              height="16"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 5l0 14" />
                              <path d="M16 9l-4 -4" />
                              <path d="M8 9l4 -4" />
                            </svg>
                          </span>
                        </td>
                        <td>$500</td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-square text-success"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3z" />
                          </svg>
                          Marketing
                        </td>
                        <td>$34,500</td>
                        <td>$24,500</td>
                        <td>
                          <span>88%</span>
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="icon icon-tabler icon-tabler-arrow-narrow-up text-danger"
                              width="16"
                              height="16"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 5l0 14" />
                              <path d="M16 9l-4 -4" />
                              <path d="M8 9l4 -4" />
                            </svg>
                          </span>
                        </td>
                        <td>$10,000</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="inviteMemberModal" tabindex="-1" role="dialog" aria-labelledby="inviteMemberModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="mb-0" id="inviteMemberModalLabel">Invite Member</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3 mt-1">
              <input type="search" class="form-control" placeholder="Search Here" />
            </div>
            <div class="d-flex align-items-center mb-3">
              <div>Members:</div>
              <div class="ms-2">
                <!-- avatar group -->
                <div class="avatar-group">
                  <span class="avatar avatar-sm">
                    <!-- avatar  -->
                    <img alt="avatar" src="../../assets/images/avatar/avatar-11.jpg" class="rounded-circle imgtooltip" data-template="one1" />
                    <span id="one1" class="d-none">
                      <span>Paul Haney</span>
                    </span>
                  </span>
                  <!-- avatar  -->
                  <span class="avatar avatar-sm">
                    <img alt="avatar" src="../../assets/images/avatar/avatar-2.jpg" class="rounded-circle imgtooltip" data-template="two2" />
                    <span id="two2" class="d-none">
                      <span>Gali Linear</span>
                    </span>
                  </span>
                  <!-- avatar  -->
                  <span class="avatar avatar-sm">
                    <img alt="avatar" src="../../assets/images/avatar/avatar-3.jpg" class="rounded-circle imgtooltip" data-template="three3" />
                    <span id="three3" class="d-none">
                      <span>Mary Holler</span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div>
              <!-- contact list -->
              <ul class="list-unstyled contacts-list mb-0">
                <!-- chat item -->
                <li class="py-lg-4 py-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="text-link contacts-link">
                      <!-- media -->
                      <div class="d-flex">
                        <div class="avatar avatar-sm">
                          <img src="../../assets/images/avatar/avatar-5.jpg" alt="Image" class="rounded-circle" />
                        </div>
                        <!-- media body -->
                        <div class="ms-2 lh-1">
                          <a href="#!" class="text-inherit">
                            <div class="mb-1">Pete Martin</div>
                          </a>
                          <small class="mb-0">Designer</small>
                        </div>
                      </div>
                    </div>
                    <div>
                      <a href="#!" class="btn btn-secondary btn-sm">Add</a>
                    </div>
                  </div>
                </li>
                <!-- chat item -->
                <li class="py-lg-4 py-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="text-link contacts-link">
                      <!-- media -->
                      <div class="d-flex">
                        <div class="avatar avatar-sm">
                          <img src="../../assets/images/avatar/avatar-9.jpg" alt="Image" class="rounded-circle" />
                        </div>
                        <!-- media body -->
                        <div class="ms-2 lh-1">
                          <a href="#!" class="text-inherit">
                            <div class="mb-1">Olivia Cooper</div>
                          </a>
                          <small class="mb-0">Front End Develosmaller</small>
                        </div>
                      </div>
                    </div>
                    <div>
                      <a href="#!" class="btn btn-secondary btn-sm">Add</a>
                    </div>
                  </div>
                </li>

                <!-- chat item -->
                <li class="py-lg-4 py-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="text-link contacts-link">
                      <!-- media -->
                      <div class="d-flex">
                        <div class="avatar avatar-sm">
                          <img src="../../assets/images/avatar/avatar-19.jpg" alt="Image" class="rounded-circle" />
                        </div>
                        <!-- media body -->
                        <div class="ms-2 lh-1">
                          <a href="#!" class="text-inherit">
                            <div class="mb-1">Jamarcus Streich</div>
                          </a>
                          <h5 class="mb-0"></h5>
                          <small>UX Designer</small>
                        </div>
                      </div>
                    </div>
                    <div>
                      <a href="#!" class="btn btn-secondary btn-sm">Add</a>
                    </div>
                  </div>
                </li>
                <!-- chat item -->
                <li class="py-lg-4 py-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="text-link contacts-link">
                      <!-- media -->
                      <div class="d-flex">
                        <div class="avatar avatar-sm">
                          <img src="../../assets/images/avatar/avatar-8.jpg" alt="Image" class="rounded-circle" />
                        </div>
                        <!-- media body -->
                        <div class="ms-2 lh-1">
                          <a href="#!" class="text-inherit">
                            <div class="mb-1">User Name</div>
                          </a>
                          <small>Content Writer</small>
                        </div>
                      </div>
                    </div>
                    <div>
                      <a href="#!" class="btn btn-secondary btn-sm">Add</a>
                    </div>
                  </div>
                </li>
                <!-- chat item -->
                <li class="py-lg-4 py-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="text-link contacts-link">
                      <!-- media -->
                      <div class="d-flex">
                        <div class="avatar avatar-sm">
                          <img src="../../assets/images/avatar/avatar-3.jpg" alt="Image" class="rounded-circle" />
                        </div>
                        <!-- media body -->
                        <div class="ms-2 lh-1">
                          <a href="#!" class="text-inherit">
                            <div class="mb-1">Rosalee Roberts</div>
                          </a>
                          <small>SEO Specialist</small>
                        </div>
                      </div>
                    </div>
                    <div>
                      <a href="#!" class="btn btn-secondary btn-sm">Add</a>
                    </div>
                  </div>
                </li>
                <!-- chat item -->
                <li class="py-lg-4 py-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="text-link contacts-link">
                      <!-- media -->
                      <div class="d-flex">
                        <div class="avatar avatar-sm">
                          <img src="../../assets/images/avatar/avatar-12.jpg" alt="Image" class="rounded-circle" />
                        </div>
                        <!-- media body -->
                        <div class="ms-2 lh-1">
                          <a href="#!" class="text-inherit">
                            <div class="mb-1">Lauren Wilson</div>
                          </a>
                          <small>Front End Developer</small>
                        </div>
                      </div>
                    </div>
                    <div>
                      <a href="#!" class="btn btn-secondary btn-sm">Add</a>
                    </div>
                  </div>
                </li>
                <!-- chat item -->
                <li class="py-lg-4 py-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="text-link contacts-link">
                      <!-- media -->
                      <div class="d-flex">
                        <div class="avatar avatar-sm">
                          <img src="../../assets/images/avatar/avatar-14.jpg" alt="Image" class="rounded-circle" />
                        </div>
                        <!-- media body -->
                        <div class="ms-2 lh-1">
                          <a href="#!" class="text-inherit">
                            <div class="mb-1">User Name</div>
                          </a>
                          <small>Content Writer</small>
                        </div>
                      </div>
                    </div>
                    <div>
                      <a href="#!" class="btn btn-secondary btn-sm">Add</a>
                    </div>
                  </div>
                </li>
                <!-- chat item -->
                <li class="py-lg-4 py-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="text-link contacts-link">
                      <!-- media -->
                      <div class="d-flex">
                        <div class="avatar avatar-sm">
                          <img src="../../assets/images/avatar/avatar-15.jpg" alt="Image" class="rounded-circle" />
                        </div>
                        <!-- media body -->
                        <div class="ms-2 lh-1">
                          <a href="#!" class="text-inherit">
                            <div class="mb-1">Rosalee Roberts</div>
                          </a>
                          <small>SEO Specialist</small>
                        </div>
                      </div>
                    </div>
                    <div>
                      <a href="#!" class="btn btn-secondary btn-sm">Add</a>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="text-end mt-4 mb-2">
                <a href="#!" class="btn btn-primary">+ Invite</a>
                <a href="#!" class="btn btn-light bg-gray-400 ms-2">Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "partials/../partials/scripts.html.twig" %}
    <script src="{{ asset('js/vendors/sidebarnav.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ asset('js/vendors/chart.js') }}"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <!-- tippy js -->

    <script src="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy-bundle.umd.min.js"></script>
    <script src="{{ asset('js/vendors/tippy.js') }}"></script>
  </body>
</html>
