<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/../partials/head/head-meta.html.twig" %}
    <title>Order List | Dasher - Responsive Bootstrap 5 Admin Dashboard</title>
    {% include "partials/../partials/head/head-links.html.twig" %}
  </head>

  <body>
    <!-- Vertical Sidebar -->
    <div>
      {% include "partials/../partials/sidebar-collapse.html.twig" %}

      <!-- Main Content -->
      <div id="content" class="position-relative h-100">
        {% include "partials/../partials/topbar-second.html.twig" %}
        <div class="custom-container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Page header -->
              <div class="mb-8 d-md-flex justify-content-between align-items-center">
                <div>
                  <h1 class="mb-3 h2">Order</h1>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Order</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Order List</li>
                    </ol>
                  </nav>
                </div>
                <div>
                  <a href="#!" class="btn btn-dark"> Add New Order</a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <!-- row -->
            <div class="row">
              <div class="col-12">
                <!-- card -->
                <div class="card card-lg" id="orderList" data-list="order_checkbox,order_id,order_name,order_date,order_paystatus,order_price,order_status,order_action">
                  <div class="card-header border-bottom-0">
                    <div class="row gx-2">
                      <div class="col-lg-4">
                        <input type="search" class="form-control listjs-search" placeholder="Search" />
                      </div>

                      <div class="col-lg-4 col-md-6 mt-3 mt-md-0">
                        <label class="form-label mb-0 visually-hidden">Status</label>
                        <select class="form-select" data-choices="">
                          <option selected>Shipped</option>
                          <option value="1">In Progress</option>
                          <option value="2">Delivered</option>
                        </select>
                      </div>

                      <div class="col-lg-4 mt-3 mt-lg-0 text-lg-end">
                        <a href="#!" class="btn btn-white">Export</a>
                      </div>
                    </div>
                  </div>

                  <div class="table-responsive" data-simplebar style="height: 600px">
                    <table class="table text-nowrap mb-0 table-centered table-hover" data-check-container>
                      <thead class="sticky-top">
                        <tr>
                          <th>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="checkAll" data-check-all />
                              <label class="form-check-label" for="checkAll"></label>
                            </div>
                          </th>
                          <th class="listjs-sorter" data-sort="order_id">Order ID</th>
                          <th class="listjs-sorter" data-sort="order_name">Name</th>
                          <th class="listjs-sorter" data-sort="order_date">Date</th>
                          <th class="listjs-sorter" data-sort="order_paystatus">Payment Status</th>
                          <th class="listjs-sorter" data-sort="order_price">Total</th>
                          <th class="listjs-sorter" data-sort="order_status">Order Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody class="list">
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox2" />
                              <label class="form-check-label" for="contactCheckbox2"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00017</a>
                          </td>
                          <td class="order_name">Harold Gonzalez</td>
                          <td class="order_date">3 Oct, 2025 10:02 PM</td>
                          <td class="order_paystatus"><span class="badge bg-success">Paid</span></td>
                          <td class="order_price">$120.00</td>
                          <td class="order_status"><span class="badge text-info-emphasis bg-info-subtle rounded-pill">Shipped</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox3" />
                              <label class="form-check-label" for="contactCheckbox3"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00016</a>
                          </td>
                          <td class="order_name">Anthony Anderson</td>
                          <td class="order_date">19 August, 2025 6:22 PM</td>
                          <td class="order_paystatus"><span class="badge bg-success">Paid</span></td>
                          <td class="order_price">$220.00</td>
                          <td class="order_status"><span class="badge text-warning-emphasis bg-warning-subtle rounded-pill">In Progress</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox4" />
                              <label class="form-check-label" for="contactCheckbox4"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00015</a>
                          </td>
                          <td class="order_name">Gary Faulkner</td>
                          <td class="order_date">8 August, 2025 8:13 AM</td>
                          <td class="order_paystatus"><span class="badge bg-success">Paid</span></td>
                          <td class="order_price">$113.42</td>
                          <td class="order_status"><span class="badge text-info-emphasis bg-info-subtle rounded-pill">In Shipped</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox5" />
                              <label class="form-check-label" for="contactCheckbox5"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00014</a>
                          </td>
                          <td class="order_name">Steve Nelson</td>
                          <td class="order_date">26 July, 2025 10:19 AM</td>
                          <td class="order_paystatus"><span class="badge bg-success">Paid</span></td>
                          <td class="order_price">$425.31</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox6" />
                              <label class="form-check-label" for="contactCheckbox6"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00013</a>
                          </td>
                          <td class="order_name">Kimberly Sullivan</td>
                          <td class="order_date">18 July, 2025 9:52 PM</td>
                          <td class="order_paystatus"><span class="badge bg-secondary">Refunded</span></td>
                          <td class="order_price">$113.00</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox7" />
                              <label class="form-check-label" for="contactCheckbox7"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00012</a>
                          </td>
                          <td class="order_name">Susan Pugh</td>
                          <td class="order_date">2 July, 2025 8:00 AM</td>
                          <td class="order_paystatus"><span class="badge bg-success">Paid</span></td>
                          <td class="order_price">$831.99</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox8" />
                              <label class="form-check-label" for="contactCheckbox8"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00011</a>
                          </td>
                          <td class="order_name">Elliott Potts</td>
                          <td class="order_date">23 June, 2025 8:14 PM</td>
                          <td class="order_paystatus"><span class="badge bg-danger">Cancel</span></td>
                          <td class="order_price">$113.00</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox9" />
                              <label class="form-check-label" for="contactCheckbox9"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00010</a>
                          </td>
                          <td class="order_name">Richard Beaudry</td>
                          <td class="order_date">13 June, 2025 4:12 PM</td>
                          <td class="order_paystatus"><span class="badge bg-success">Paid</span></td>
                          <td class="order_price">$582.99</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox10" />
                              <label class="form-check-label" for="contactCheckbox10"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00009</a>
                          </td>
                          <td class="order_name">Henry Saxton</td>
                          <td class="order_date">5 May, 2025 12:02 PM</td>
                          <td class="order_paystatus"><span class="badge bg-success">Paid</span></td>
                          <td class="order_price">$00.00</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox11" />
                              <label class="form-check-label" for="contactCheckbox11"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00008</a>
                          </td>
                          <td class="order_name">Juanita Diener</td>
                          <td class="order_date">4 April, 2025 5:02 PM</td>
                          <td class="order_paystatus"><span class="badge bg-success">Paid</span></td>
                          <td class="order_price">$25.23</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox61" />
                              <label class="form-check-label" for="contactCheckbox6"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00013</a>
                          </td>
                          <td class="order_name">Kimberly Sullivan</td>
                          <td class="order_date">18 July, 2025 9:52 PM</td>
                          <td class="order_paystatus"><span class="badge bg-secondary">Refunded</span></td>
                          <td class="order_price">$113.00</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox71" />
                              <label class="form-check-label" for="contactCheckbox71"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00012</a>
                          </td>
                          <td class="order_name">Susan Pugh</td>
                          <td class="order_date">2 July, 2025 8:00 AM</td>
                          <td class="order_paystatus"><span class="badge bg-success">Paid</span></td>
                          <td class="order_price">$831.99</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox81" />
                              <label class="form-check-label" for="contactCheckbox81"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00011</a>
                          </td>
                          <td class="order_name">Elliott Potts</td>
                          <td class="order_date">23 June, 2025 8:14 PM</td>
                          <td class="order_paystatus"><span class="badge bg-danger">Cancel</span></td>
                          <td class="order_price">$113.00</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox91" />
                              <label class="form-check-label" for="contactCheckbox91"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00010</a>
                          </td>
                          <td class="order_name">Richard Beaudry</td>
                          <td class="order_date">13 June, 2025 4:12 PM</td>
                          <td class="order_paystatus"><span class="badge bg-success">Paid</span></td>
                          <td class="order_price">$582.99</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox12" />
                              <label class="form-check-label" for="contactCheckbox12"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00009</a>
                          </td>
                          <td class="order_name">Henry Saxton</td>
                          <td class="order_date">5 May, 2025 12:02 PM</td>
                          <td class="order_paystatus"><span class="badge bg-success">Paid</span></td>
                          <td class="order_price">$00.00</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="contactCheckbox13" />
                              <label class="form-check-label" for="contactCheckbox13"></label>
                            </div>
                          </td>
                          <td class="order_id">
                            <a href="#!">#DU00008</a>
                          </td>
                          <td class="order_name">Juanita Diener</td>
                          <td class="order_date">4 April, 2025 5:02 PM</td>
                          <td class="order_paystatus"><span class="badge bg-success">Paid</span></td>
                          <td class="order_price">$25.23</td>
                          <td class="order_status"><span class="badge text-success-emphasis bg-success-subtle rounded-pill">Delivered</span></td>
                          <td>
                            <div class="dropdown">
                              <a class="btn btn-icon btn-sm btn-ghost rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="icon icon-tabler icon-tabler-dots-vertical"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                              </a>

                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Another action</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="btn-toolbar card-footer border-top border-dashed d-flex flex-md-row flex-column justify-content-md-between align-items-md-center">
                    <p class="mb-0 listjs-showing-items-label"></p>
                    <div class="d-flex flex-column flex-md-row gap-4">
                      <div class="d-flex align-items-center gap-2">
                        <label class="form-label text-nowrap mb-0">Rows per page:</label>
                        <select class="form-select listjs-items-per-page" data-choices="">
                          <option value="10" selected>10</option>
                          <option value="16">16</option>
                        </select>
                      </div>
                      <div>
                        <div class="pagination-buttons d-flex">
                          <button class="btn btn-white prev">Previous</button>
                          <ul class="pagination mb-0 ms-1"></ul>
                          <button class="btn btn-white next">Next</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "partials/../partials/scripts.html.twig" %}
    <script src="{{ asset('js/vendors/sidebarnav.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/list.js"></script>
    <script src="{{ asset('js/vendors/list.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="{{ asset('js/vendors/choice.js') }}"></script>
    <script src="{{ asset('js/vendors/checkbox.js') }}"></script>
  </body>
</html>
