<!DOCTYPE html>
<html lang="pt">
    <head>
        {% include 'partials/head/head-meta.html.twig' %}
        
        <title>{% block title %}Portal IASDCanelas{% endblock %}</title>
        
        {% include 'partials/head/head-links.html.twig' %}
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% include 'partials/scripts.html.twig' %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
