<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head/head-meta.html.twig" %}
    <title>Colors | Dasher - Responsive Bootstrap 5 Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism-okaidia.min.css" rel="stylesheet" />
    {% include "partials/head/head-links.html.twig" %}
  </head>
  <body class>
    <!-- main -->
    <div>
      {% include "partials/header.html.twig" %} {% include "partials/breadcrumb.html.twig"with { "heading" : "Colors", "pageFolder": "Components", "pageName": "Colors", }%}
      <div class="pt-lg-10 mt-10 position-relative">
        <div class="container">
          <div class="row">
            <aside class="col-xl-2 col-lg-3 col-md-4 mb-6 mb-md-0 d-none d-lg-block">{% include "partials/nav-sidebar.html.twig" %}</aside>
            <div class="col-xl-9 col-lg-9 col-md-12 mb-6 mb-md-0 mx-auto">
              <div class="mb-12 product-content d-flex flex-column gap-8">
                <div class="row color-swatches g-0">
                  <!-- Col -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-gray-50" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">gray-50</h4>
                        <p class="color-swatch-body-value">#f6f5f4</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-gray-100" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">gray-100</h4>
                        <p class="color-swatch-body-value">#ecebe9</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-gray-200" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">gray-200</h4>
                        <p class="color-swatch-body-value">#dad7d2</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-gray-300" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">gray-300</h4>
                        <p class="color-swatch-body-value">#c5c0b9</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-gray-400" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">gray-400</h4>
                        <p class="color-swatch-body-value">#b3aca3</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-gray-500" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">gray-500</h4>
                        <p class="color-swatch-body-value">#a0988d</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-gray-600" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">gray-600</h4>
                        <p class="color-swatch-body-value">#837a6d</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-gray-700" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">gray-700</h4>
                        <p class="color-swatch-body-value">#615b51</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-gray-800" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">gray-800</h4>
                        <p class="color-swatch-body-value">#433e38</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-gray-900" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">gray-900</h4>
                        <p class="color-swatch-body-value">#211f1c</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                </div>
                <div class="d-flex color-swatches">
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-primary-lighter" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <div class="color-palette-hex-code">
                          <h4 class="color-swatch-body-label fs-6 text-secondary">Primary lighter</h4>
                          <p class="color-swatch-body-value">#C8FAD6</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-primary-light" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Primary light</h4>
                        <p class="color-swatch-body-value">#5BE49B</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-primary" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Primary</h4>
                        <p class="color-swatch-body-value">#00A76F</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-primary-dark" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Primary dark</h4>
                        <p class="color-swatch-body-value">#007867</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-primary-darker" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Primary darker</h4>
                        <p class="color-swatch-body-value">#004B50</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex color-swatches">
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-info-lighter" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <div class="color-palette-hex-code">
                          <h4 class="color-swatch-body-label fs-6 text-secondary">Info lighter</h4>
                          <p class="color-swatch-body-value">#CAFDF5</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-info-light" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Info light</h4>
                        <p class="color-swatch-body-value">#61F3F3</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-info" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Info</h4>
                        <p class="color-swatch-body-value">#00B8D9</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-info-dark" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Info dark</h4>
                        <p class="color-swatch-body-value">#006C9C</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-info-darker" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Info darker</h4>
                        <p class="color-swatch-body-value">#003768</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex color-swatches">
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-success-lighter" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <div class="color-palette-hex-code">
                          <h4 class="color-swatch-body-label fs-6 text-secondary">Success lighter</h4>
                          <p class="color-swatch-body-value">#D3FCD2</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-success-light" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Success light</h4>
                        <p class="color-swatch-body-value">#77ED8B</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-success" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Success</h4>
                        <p class="color-swatch-body-value">#22c55e</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-success-dark" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Success dark</h4>
                        <p class="color-swatch-body-value">#118D57</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-success-darker" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Success darker</h4>
                        <p class="color-swatch-body-value">#065E49</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex color-swatches">
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-danger-lighter" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <div class="color-palette-hex-code">
                          <h4 class="color-swatch-body-label fs-6 text-secondary">Danger lighter</h4>
                          <p class="color-swatch-body-value">#FFE9D5</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-danger-light" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Danger light</h4>
                        <p class="color-swatch-body-value">#FFAC82</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-danger" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Danger</h4>
                        <p class="color-swatch-body-value">#ff5630</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-danger-dark" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Danger dark</h4>
                        <p class="color-swatch-body-value">#B71D18</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-danger-darker" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Danger darker</h4>
                        <p class="color-swatch-body-value">#7A0916</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex color-swatches">
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-warning-lighter" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <div class="color-palette-hex-code">
                          <h4 class="color-swatch-body-label fs-6 text-secondary">Warning lighter</h4>
                          <p class="color-swatch-body-value">#FFF5CC</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-warning-light" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Warning light</h4>
                        <p class="color-swatch-body-value">#FFD666</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-warning" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Warning</h4>
                        <p class="color-swatch-body-value">#FFAB00</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-warning-dark" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Warning dark</h4>
                        <p class="color-swatch-body-value">#B76E00</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-warning-darker" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Warning darker</h4>
                        <p class="color-swatch-body-value">#7A4100</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex color-swatches">
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-secondary-lighter" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <div class="color-palette-hex-code">
                          <h4 class="color-swatch-body-label fs-6 text-secondary">Secondary lighter</h4>
                          <p class="color-swatch-body-value">#F9FAFB</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-secondary-light" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Secondary light</h4>
                        <p class="color-swatch-body-value">#DFE3E8</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-secondary" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Secondary</h4>
                        <p class="color-swatch-body-value">#919EAB</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-secondary-dark" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Secondary dark</h4>
                        <p class="color-swatch-body-value">#454F5B</p>
                      </div>
                    </div>
                  </div>
                  <!-- Col -->
                  <div class="w-50">
                    <div class="color-swatch color-palette relative cursor-pointer">
                      <div class="color-swatch-header bg-secondary-darker" style="height: 150px"></div>
                      <div class="color-swatch-body">
                        <h4 class="color-swatch-body-label fs-6 text-secondary">Secondary darker</h4>
                        <p class="color-swatch-body-value">#141A21</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="container-fluid py-3 border-top bg-gray-100 text-center position-relative z-1">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="small">
                Copyright © 2025
                <span class="text-primary">
                  <a href="#">Dasher Admin Bootstrap 5 Theme</a>
                </span>
                | Designed by
                <span class="text-primary">
                  <a href="#">CodesCandy</a>
                </span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    {% include "partials/scripts.html.twig" %}
    <script src="{{ asset('js/vendors/colorpicker.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sticky-sidebar@3/dist/sticky-sidebar.min.js"></script>
    <script src="{{ asset('js/vendors/sticky.js') }}"></script>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-scss.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="{{ asset('js/vendors/sidebar-menu.js') }}"></script>
  </body>
</html>
