<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head/head-meta.html.twig" %}
    <title>Components List | Dasher - Responsive Bootstrap 5 Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism-okaidia.min.css" rel="stylesheet" />
    {% include "partials/head/head-links.html.twig" %}
  </head>
  <body class>
    <!-- main -->
    <div>
      {% include "partials/header.html.twig" %}
      <div class="bg-gray-200 py-14">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center">
                <h1>Components</h1>
                <p class="mb-0">With huge resource pack making deployment easy and expanding more effectively</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-lg-10 mt-10 position-relative">
        <div class="container">
          <div class="row">
            <aside class="col-xl-2 col-lg-3 col-md-4 mb-6 mb-md-0 d-none d-lg-block">{% include "partials/nav-sidebar.html.twig" %}</aside>
            <div class="col-xl-7 col-lg-9 col-md-12 mb-6 mb-md-0 mx-auto">
              <div class="mb-12 product-content d-flex flex-column gap-8">
                <div class="mb-8">
                  <div class="mb-8">
                    <h2>Foundation</h2>
                    <p class="mb-0">Colors, typography, shadows…</p>
                  </div>
                  <div class="row row-cols-lg-5 row-cols-2 g-4">
                    <div class="col">
                      <a href="typography.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-typography text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M4 20l3 0" />
                              <path d="M14 20l7 0" />
                              <path d="M6.9 15l6.9 0" />
                              <path d="M10.2 6.3l5.8 13.7" />
                              <path d="M5 20l6 -16l2 0l7 16" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Typography</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="colors.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-palette text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 21a9 9 0 0 1 0 -18c4.97 0 9 3.582 9 8c0 1.06 -.474 2.078 -1.318 2.828c-.844 .75 -1.989 1.172 -3.182 1.172h-2.5a2 2 0 0 0 -1 3.75a1.3 1.3 0 0 1 -1 2.25" />
                              <path d="M8.5 10.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                              <path d="M12.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                              <path d="M16.5 10.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Colors</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="./shadows.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-shadow text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                              <path d="M13 12h5" />
                              <path d="M13 15h4" />
                              <path d="M13 18h1" />
                              <path d="M13 9h4" />
                              <path d="M13 6h1" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Shadows</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="mb-8">
                  <div class="mb-8">
                    <h2>Dasher</h2>
                    <p class="mb-0">
                      Components from
                      <a href="https://getbootstrap.com/" target="_blank">Bootstrap Framework</a>
                      .
                    </p>
                  </div>
                  <div class="row row-cols-lg-5 row-cols-2 g-4">
                    <div class="col">
                      <a href="accordions.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-layout-bottombar-collapse text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M20 6v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2z" />
                              <path d="M20 15h-16" />
                              <path d="M14 8l-2 2l-2 -2" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Accordions</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="./alerts.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 9v4" />
                              <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" />
                              <path d="M12 16h.01" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Alerts</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="avatar.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-user-square-rounded text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 13a3 3 0 1 0 0 -6a3 3 0 0 0 0 6z" />
                              <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" />
                              <path d="M6 20.05v-.05a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v.05" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Avatar</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="badge.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <div class="position-relative">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="40"
                                height="40"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-mail text-secondary"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                                <path d="M3 7l9 6l9 -6" />
                              </svg>
                              <div class="position-absolute top-0 end-0 me-6">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  fill="currentColor"
                                  class="icon icon-tabler icons-tabler-filled icon-tabler-circle-number-1 text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path
                                    d="M12 2c5.523 0 10 4.477 10 10s-4.477 10 -10 10s-10 -4.477 -10 -10s4.477 -10 10 -10zm.994 5.886c-.083 -.777 -1.008 -1.16 -1.617 -.67l-.084 .077l-2 2l-.083 .094a1 1 0 0 0 0 1.226l.083 .094l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l.293 -.293v5.586l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-8l-.006 -.114z"
                                  />
                                </svg>
                              </div>
                            </div>
                            <div>
                              <h3 class="mb-0 fs-6">Badge</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="breadcrumb.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-badge-right text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M13 7h-6l4 5l-4 5h6l4 -5z" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Breadcrumb</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="buttons.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-rectangle text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Buttons</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="forms.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-clipboard-text text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                              <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
                              <path d="M9 12h6" />
                              <path d="M9 16h6" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Forms</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="card.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-credit-card text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" />
                              <path d="M3 10l18 0" />
                              <path d="M7 15l.01 0" />
                              <path d="M11 15l2 0" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Card</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="carousel.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-carousel-horizontal text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M7 5m0 1a1 1 0 0 1 1 -1h8a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1z" />
                              <path d="M22 17h-1a1 1 0 0 1 -1 -1v-8a1 1 0 0 1 1 -1h1" />
                              <path d="M2 17h1a1 1 0 0 0 1 -1v-8a1 1 0 0 0 -1 -1h-1" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Carousel</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="collapse.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-layout-bottombar-collapse text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M20 6v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2z" />
                              <path d="M20 15h-16" />
                              <path d="M14 8l-2 2l-2 -2" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Collapse</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="dropdowns.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-caret-down text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M6 10l6 6l6 -6h-12" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Dropdowns</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="list-group.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-list text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M9 6l11 0" />
                              <path d="M9 12l11 0" />
                              <path d="M9 18l11 0" />
                              <path d="M5 6l0 .01" />
                              <path d="M5 12l0 .01" />
                              <path d="M5 18l0 .01" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">List Group</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="modal.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-chalkboard text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M8 19h-3a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v11a1 1 0 0 1 -1 1" />
                              <path d="M11 16m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Modal</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="navs-tabs.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-layout-navbar text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                              <path d="M4 9l16 0" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Nav Tabs</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="offcanvas.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-layout-sidebar text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                              <path d="M9 4l0 16" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Offcanvas</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="pagination.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <div class="d-flex justify-content-center mt-1 mb-6">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-circle-number-1 text-secondary"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                <path d="M10 10l2 -2v8" />
                              </svg>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                viewBox="0 0 24 24"
                                fill="currentColor"
                                class="icon icon-tabler icons-tabler-filled icon-tabler-circle-number-2 text-secondary"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                  d="M12 2c5.523 0 10 4.477 10 10s-4.477 10 -10 10s-10 -4.477 -10 -10s4.477 -10 10 -10zm1 5h-3l-.117 .007a1 1 0 0 0 0 1.986l.117 .007h3v2h-2l-.15 .005a2 2 0 0 0 -1.844 1.838l-.006 .157v2l.005 .15a2 2 0 0 0 1.838 1.844l.157 .006h3l.117 -.007a1 1 0 0 0 0 -1.986l-.117 -.007h-3v-2h2l.15 -.005a2 2 0 0 0 1.844 -1.838l.006 -.157v-2l-.005 -.15a2 2 0 0 0 -1.838 -1.844l-.157 -.006z"
                                />
                              </svg>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-circle-number-3 text-secondary"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                <path d="M10 9a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1" />
                              </svg>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-circle-number-4 text-secondary"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                <path d="M10 8v3a1 1 0 0 0 1 1h3" />
                                <path d="M14 8v8" />
                              </svg>
                            </div>
                            <div>
                              <h3 class="mb-0 fs-6">Pagination</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="popovers.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-message-2 text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M8 9h8" />
                              <path d="M8 13h6" />
                              <path d="M9 18h-3a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-3l-3 3l-3 -3z" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Popovers</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="progress.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-progress text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M10 20.777a8.942 8.942 0 0 1 -2.48 -.969" />
                              <path d="M14 3.223a9.003 9.003 0 0 1 0 17.554" />
                              <path d="M4.579 17.093a8.961 8.961 0 0 1 -1.227 -2.592" />
                              <path d="M3.124 10.5c.16 -.95 .468 -1.85 .9 -2.675l.169 -.305" />
                              <path d="M6.907 4.579a8.954 8.954 0 0 1 3.093 -1.356" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Progress</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="./scrollspy.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="currentColor"
                              class="icon icon-tabler icons-tabler-filled icon-tabler-layout-sidebar-right-collapse text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path
                                d="M18 3a3 3 0 0 1 2.995 2.824l.005 .176v12a3 3 0 0 1 -2.824 2.995l-.176 .005h-12a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-12a3 3 0 0 1 2.824 -2.995l.176 -.005h12zm-3 2h-9a1 1 0 0 0 -.993 .883l-.007 .117v12a1 1 0 0 0 .883 .993l.117 .007h9v-14zm-5.387 4.21l.094 .083l2 2a1 1 0 0 1 .083 1.32l-.083 .094l-2 2a1 1 0 0 1 -1.497 -1.32l.083 -.094l1.292 -1.293l-1.292 -1.293a1 1 0 0 1 -.083 -1.32l.083 -.094a1 1 0 0 1 1.32 -.083z"
                              />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Scrollspy</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="spinners.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-rotate-clockwise-2 text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M9 4.55a8 8 0 0 1 6 14.9m0 -4.45v5h5" />
                              <path d="M5.63 7.16l0 .01" />
                              <path d="M4.06 11l0 .01" />
                              <path d="M4.63 15.1l0 .01" />
                              <path d="M7.16 18.37l0 .01" />
                              <path d="M11 19.94l0 .01" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Spinners</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="toasts.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-align-box-center-bottom text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M3 19v-14a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                              <path d="M11 17h2" />
                              <path d="M9 14h6" />
                              <path d="M10 11h4" />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Toasts</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="tooltips.html" class="text-reset">
                        <div class="card card-body py-6">
                          <div class="text-center d-flex flex-column gap-4 align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-tooltip text-secondary"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                              <path
                                d="M12 13l-1.707 -1.707a1 1 0 0 0 -.707 -.293h-2.586a2 2 0 0 1 -2 -2v-3a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-2.586a1 1 0 0 0 -.707 .293l-1.707 1.707z"
                              />
                            </svg>
                            <div>
                              <h3 class="mb-0 fs-6">Tooltips</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="container-fluid py-3 border-top bg-gray-100 text-center position-relative z-1">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="small">
                Copyright © 2025
                <span class="text-primary">
                  <a href="#">Dasher Admin Bootstrap 5 Theme</a>
                </span>
                | Designed by
                <span class="text-primary">
                  <a href="#">CodesCandy</a>
                </span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% include "partials/scripts.html.twig" %}
    <script src="https://cdn.jsdelivr.net/npm/sticky-sidebar@3/dist/sticky-sidebar.min.js"></script>
    <script src="{{ asset('js/vendors/sticky.js') }}"></script>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-scss.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="{{ asset('js/vendors/sidebar-menu.js') }}"></script>
  </body>
</html>
