<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head/head-meta.html.twig" %}
    <title>Popovers | Dasher - Responsive Bootstrap 5 Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism-okaidia.min.css" rel="stylesheet" />
    {% include "partials/head/head-links.html.twig" %}
  </head>
  <body class>
    <!-- main -->
    <div>
      {% include "partials/header.html.twig" %} {% include "partials/breadcrumb.html.twig"with { "heading" : "Popovers", "pageFolder": "Components", "pageName": "Popovers", }%}
      <div class="pt-lg-10 mt-10 position-relative">
        <div class="container">
          <div class="row">
            <aside class="col-xl-2 col-lg-3 col-md-4 mb-6 mb-md-0 d-none d-lg-block">{% include "partials/nav-sidebar.html.twig" %}</aside>
            <div class="col-xl-7 col-lg-9 col-md-12 mb-6 mb-md-0 mx-auto">
              <div class="mb-12 product-content d-flex flex-column gap-8">
                <div class="border rounded-3 overflow-hidden">
                  <div class="row align-items-center py-2 px-5">
                    <div class="col-lg-8 col-xl-8 col-7">
                      <div>
                        <h3 class="text-truncate h5 mb-0" id="fourdirection">Four directions</h3>
                      </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-5 d-flex justify-content-end">
                      <ul class="nav nav-pills nav-custom-pill" id="pills-tabTwo" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link active"
                            id="pills-PopoverDirections-preview-tab"
                            data-bs-toggle="pill"
                            href="#pills-PopoverDirections-preview"
                            role="tab"
                            aria-controls="pills-PopoverDirections-preview"
                            aria-selected="true"
                          >
                            <span class="lh-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="18"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                              </svg>
                            </span>
                            <span class="ms-1 d-none d-lg-block">Preview</span>
                          </a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link"
                            id="pills-PopoverDirections-code-tab"
                            data-bs-toggle="pill"
                            href="#pills-PopoverDirections-code"
                            role="tab"
                            aria-controls="pills-PopoverDirections-code"
                            aria-selected="false"
                            tabindex="-1"
                          >
                            <span class="lh-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-code"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 8l-4 4l4 4" />
                                <path d="M17 8l4 4l-4 4" />
                                <path d="M14 4l-4 16" />
                              </svg>
                            </span>
                            <span class="ms-1 d-none d-lg-block">Code</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="tab-content border-top" id="pills-tabTwoContent">
                        <div
                          class="tab-pane tab-example-preview fade show active p-5 bg-gray-100"
                          id="pills-PopoverDirections-preview"
                          role="tabpanel"
                          aria-labelledby="pills-PopoverDirections-preview-tab"
                        >
                          <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                            Popover on top
                          </button>
                          <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Right popover">
                            Popover on right
                          </button>
                          <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">
                            Popover on bottom
                          </button>
                          <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Left popover">
                            Popover on left
                          </button>
                        </div>
                        <div class="tab-pane tab-example-code fade" id="pills-PopoverDirections-code" role="tabpanel" aria-labelledby="pills-PopoverDirections-code-tab">
                          <pre
                            class="language-markup"
                            tabindex="0"
                          ><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-secondary<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-container</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>body<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-toggle</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>popover<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-placement</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>top<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-content</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Top popover<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
                Popover on top
              <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
              <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-secondary<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-container</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>body<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-toggle</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>popover<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-placement</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>right<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-content</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Right popover<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
                Popover on right
              <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
              <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-secondary<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-container</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>body<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-toggle</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>popover<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-placement</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>bottom<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-content</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Bottom popover<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
                Popover on bottom
              <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
              <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-secondary<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-container</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>body<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-toggle</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>popover<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-placement</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>left<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-content</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Left popover<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
                Popover on left
              <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span></code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="border rounded-3 overflow-hidden">
                  <div class="row align-items-center py-2 px-5">
                    <div class="col-lg-8 col-xl-8 col-7">
                      <div>
                        <h3 class="text-truncate h5 mb-0" id="dismiss">Dismiss</h3>
                      </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-5 d-flex justify-content-end">
                      <ul class="nav nav-pills nav-custom-pill" id="pills-tabTwo" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link active"
                            id="pills-PopoverDismiss-preview-tab"
                            data-bs-toggle="pill"
                            href="#pills-PopoverDismiss-preview"
                            role="tab"
                            aria-controls="pills-PopoverDismiss-preview"
                            aria-selected="true"
                          >
                            <span class="lh-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="18"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                              </svg>
                            </span>
                            <span class="ms-1 d-none d-lg-block">Preview</span>
                          </a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link"
                            id="pills-PopoverDismiss-code-tab"
                            data-bs-toggle="pill"
                            href="#pills-PopoverDismiss-code"
                            role="tab"
                            aria-controls="pills-PopoverDismiss-code"
                            aria-selected="false"
                            tabindex="-1"
                          >
                            <span class="lh-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-code"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 8l-4 4l4 4" />
                                <path d="M17 8l4 4l-4 4" />
                                <path d="M14 4l-4 16" />
                              </svg>
                            </span>
                            <span class="ms-1 d-none d-lg-block">Code</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="tab-content border-top" id="pills-tabTwoContent">
                        <div class="tab-pane tab-example-preview fade show active p-5 bg-gray-100" id="pills-PopoverDismiss-preview" role="tabpanel" aria-labelledby="pills-PopoverDismiss-preview-tab">
                          <a
                            tabindex="0"
                            class="btn btn-lg btn-danger"
                            role="button"
                            data-bs-toggle="popover"
                            data-bs-trigger="focus"
                            data-bs-title="Dismissible popover"
                            data-bs-content="And here's some amazing content. It's very engaging. Right?"
                            >Dismissible popover</a
                          >
                        </div>
                        <div class="tab-pane tab-example-code fade" id="pills-PopoverDismiss-code" role="tabpanel" aria-labelledby="pills-PopoverDismiss-code-tab">
                          <pre
                            class="language-markup"
                            tabindex="0"
                          ><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">tabindex</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>0<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-lg btn-danger<span class="token punctuation">"</span></span> <span class="token attr-name">role</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-toggle</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>popover<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-trigger</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>focus<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-title</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Dismissible popover<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-content</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>And here's some amazing content. It's very engaging. Right?<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Dismissible popover<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span></code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="border rounded-3 overflow-hidden">
                  <div class="row align-items-center py-2 px-5">
                    <div class="col-lg-8 col-xl-8 col-7">
                      <div>
                        <h3 class="text-truncate h5 mb-0" id="customerPopover">Customer Popover</h3>
                      </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-5 d-flex justify-content-end">
                      <ul class="nav nav-pills nav-custom-pill" id="pills-tabTwo" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link active"
                            id="pills-PopoverCustomer-preview-tab"
                            data-bs-toggle="pill"
                            href="#pills-PopoverCustomer-preview"
                            role="tab"
                            aria-controls="pills-PopoverCustomer-preview"
                            aria-selected="true"
                          >
                            <span class="lh-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="18"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                              </svg>
                            </span>
                            <span class="ms-1 d-none d-lg-block">Preview</span>
                          </a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link"
                            id="pills-PopoverCustomer-code-tab"
                            data-bs-toggle="pill"
                            href="#pills-PopoverCustomer-code"
                            role="tab"
                            aria-controls="pills-PopoverCustomer-code"
                            aria-selected="false"
                            tabindex="-1"
                          >
                            <span class="lh-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-code"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 8l-4 4l4 4" />
                                <path d="M17 8l4 4l-4 4" />
                                <path d="M14 4l-4 16" />
                              </svg>
                            </span>
                            <span class="ms-1 d-none d-lg-block">Code</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="tab-content border-top" id="pills-tabTwoContent">
                        <div
                          class="tab-pane tab-example-preview fade show active p-5 bg-gray-100"
                          id="pills-PopoverCustomer-preview"
                          role="tabpanel"
                          aria-labelledby="pills-PopoverCustomer-preview-tab"
                        >
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-toggle="popover"
                            data-bs-placement="right"
                            data-bs-custom-class="custom-popover"
                            data-bs-title="Custom popover"
                            data-bs-content="This popover is themed via CSS variables."
                          >
                            Custom popover
                          </button>
                        </div>
                        <div class="tab-pane tab-example-code fade" id="pills-PopoverCustomer-code" role="tabpanel" aria-labelledby="pills-PopoverCustomer-code-tab">
                          <pre
                            class="language-markup"
                            tabindex="0"
                          ><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-secondary<span class="token punctuation">"</span></span>
<span class="token attr-name">data-bs-toggle</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>popover<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-placement</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>right<span class="token punctuation">"</span></span>
<span class="token attr-name">data-bs-custom-class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>custom-popover<span class="token punctuation">"</span></span>
<span class="token attr-name">data-bs-title</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Custom popover<span class="token punctuation">"</span></span>
<span class="token attr-name">data-bs-content</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>This popover is themed via CSS variables.<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
Custom popover
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span></code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 d-none d-xl-flex">
              <!-- sidebar nav fixed -->
              <div class="sidebar-nav-fixed">
                <span class="d-block h2 fs-6"> On this page </span>
                <ul class="list-unstyled">
                  <li>
                    <a href="#fourdirection" class="active">1. Four directions</a>
                  </li>
                  <li>
                    <a href="#dismiss">2. Dismiss</a>
                  </li>
                  <li>
                    <a href="#customerPopover">3. Customer popover</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <footer class="container-fluid py-3 border-top bg-gray-100 text-center position-relative z-1">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="small">
                Copyright © 2025
                <span class="text-primary">
                  <a href="#">Dasher Admin Bootstrap 5 Theme</a>
                </span>
                | Designed by
                <span class="text-primary">
                  <a href="#">CodesCandy</a>
                </span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% include "partials/scripts.html.twig" %}
    <script src="https://cdn.jsdelivr.net/npm/sticky-sidebar@3/dist/sticky-sidebar.min.js"></script>
    <script src="{{ asset('js/vendors/sticky.js') }}"></script>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-scss.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="{{ asset('js/vendors/sidebar-menu.js') }}"></script>
  </body>
</html>
