<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head/head-meta.html.twig" %}
    <title>Shadows | Dasher - Responsive Bootstrap 5 Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism-okaidia.min.css" rel="stylesheet" />
    {% include "partials/head/head-links.html.twig" %}
  </head>
  <body class>
    <!-- main -->
    <div>
      {% include "partials/header.html.twig" %} {% include "partials/breadcrumb.html.twig"with { "heading" : "Shadows", "pageFolder": "Utilities", "pageName": "Shadows", }%}
      <div class="pt-lg-10 mt-10 position-relative">
        <div class="container">
          <div class="row">
            <aside class="col-xl-2 col-lg-3 col-md-4 mb-6 mb-md-0 d-none d-lg-block">{% include "partials/nav-sidebar.html.twig" %}</aside>
            <div class="col-xl-7 col-lg-9 col-md-12 mb-6 mb-md-0 mx-auto">
              <div class="mb-12 product-content d-flex flex-column gap-8">
                <div class="border rounded-3 overflow-hidden">
                  <div class="row align-items-center py-2 px-5">
                    <div class="col-lg-8 col-xl-8 col-7">
                      <div>
                        <h3 class="text-truncate h5 mb-0" id="shadow">Shadow</h3>
                      </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-5 d-flex justify-content-end">
                      <ul class="nav nav-pills nav-custom-pill" id="pills-tabTwo" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link active"
                            id="pills-ShadowExample-preview-tab"
                            data-bs-toggle="pill"
                            href="#pills-ShadowExample-preview"
                            role="tab"
                            aria-controls="pills-ShadowExample-preview"
                            aria-selected="true"
                          >
                            <span class="lh-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="18"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                              </svg>
                            </span>
                            <span class="ms-1 d-none d-lg-block">Preview</span>
                          </a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link"
                            id="pills-ShadowExample-code-tab"
                            data-bs-toggle="pill"
                            href="#pills-ShadowExample-code"
                            role="tab"
                            aria-controls="pills-ShadowExample-code"
                            aria-selected="false"
                            tabindex="-1"
                          >
                            <span class="lh-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-code"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 8l-4 4l4 4" />
                                <path d="M17 8l4 4l-4 4" />
                                <path d="M14 4l-4 16" />
                              </svg>
                            </span>
                            <span class="ms-1 d-none d-lg-block">Code</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="tab-content border-top" id="pills-tabTwoContent">
                        <div class="tab-pane tab-example-preview fade show active p-5 bg-gray-100" id="pills-ShadowExample-preview" role="tabpanel" aria-labelledby="pills-ShadowExample-preview-tab">
                          <div class="d-flex align-items-center gap-4 flex-wrap">
                            <div class="shadow-none p-3 mb-5 bg-white rounded" style="height: 150px; width: 150px">No shadow</div>
                            <div class="shadow-xs p-3 mb-5 bg-white rounded" style="height: 150px; width: 150px">Xtra Small shadow</div>
                            <div class="shadow-sm p-3 mb-5 bg-white rounded" style="height: 150px; width: 150px">Small shadow</div>
                            <div class="shadow p-3 mb-5 bg-white rounded" style="height: 150px; width: 150px">Regular shadow</div>
                            <div class="shadow-lg p-3 mb-5 bg-white rounded" style="height: 150px; width: 150px">Larger shadow</div>
                            <div class="shadow-xl p-3 mb-5 bg-white rounded" style="height: 150px; width: 150px">Xtra Larger shadow</div>
                          </div>
                        </div>
                        <div class="tab-pane tab-example-code fade" id="pills-ShadowExample-code" role="tabpanel" aria-labelledby="pills-ShadowExample-code-tab">
                          <pre
                            class="language-markup"
                            tabindex="0"
                          ><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>shadow-none p-3 mb-5 bg-body-tertiary rounded<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>No shadow<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>shadow-sm p-3 mb-5 bg-body-tertiary rounded<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Small shadow<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>shadow p-3 mb-5 bg-body-tertiary rounded<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Regular shadow<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>shadow-lg p-3 mb-5 bg-body-tertiary rounded<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Larger shadow<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 d-none d-xl-flex">
              <!-- sidebar nav fixed -->
              <div class="sidebar-nav-fixed">
                <span class="d-block h2 fs-6"> On this page </span>
                <ul class="list-unstyled">
                  <li>
                    <a href="#shadow" class="active">1. Shadow</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <footer class="container-fluid py-3 border-top bg-gray-100 text-center position-relative z-1">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="small">
                Copyright © 2025
                <span class="text-primary">
                  <a href="#">Dasher Admin Bootstrap 5 Theme</a>
                </span>
                | Designed by
                <span class="text-primary">
                  <a href="#">CodesCandy</a>
                </span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% include "partials/scripts.html.twig" %}
    <script src="https://cdn.jsdelivr.net/npm/sticky-sidebar@3/dist/sticky-sidebar.min.js"></script>
    <script src="{{ asset('js/vendors/sticky.js') }}"></script>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-scss.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="{{ asset('js/vendors/sidebar-menu.js') }}"></script>
  </body>
</html>
