<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head/head-meta.html.twig" %}
    <title>Tooltips | Dasher - Responsive Bootstrap 5 Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism-okaidia.min.css" rel="stylesheet" />
    {% include "partials/head/head-links.html.twig" %}
  </head>
  <body class>
    <!-- main -->
    <div>
      {% include "partials/header.html.twig" %} {% include "partials/breadcrumb.html.twig"with { "heading" : "Tooltips", "pageFolder": "Components", "pageName": "Tooltips", }%}
      <div class="pt-lg-10 mt-10 position-relative">
        <div class="container">
          <div class="row">
            <aside class="col-xl-2 col-lg-3 col-md-4 mb-6 mb-md-0 d-none d-lg-block">{% include "partials/nav-sidebar.html.twig" %}</aside>
            <div class="col-xl-7 col-lg-9 col-md-12 mb-6 mb-md-0 mx-auto">
              <div class="mb-12 product-content d-flex flex-column gap-8">
                <div class="border rounded-3 overflow-hidden">
                  <div class="row align-items-center py-2 px-5">
                    <div class="col-lg-8 col-xl-8 col-7">
                      <div>
                        <h3 class="text-truncate h5 mb-0" id="directions">Tooltips</h3>
                      </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-5 d-flex justify-content-end">
                      <ul class="nav nav-pills nav-custom-pill" id="pills-tabTwo" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link active"
                            id="pills-TooltipDirection-preview-tab"
                            data-bs-toggle="pill"
                            href="#pills-TooltipDirection-preview"
                            role="tab"
                            aria-controls="pills-TooltipDirection-preview"
                            aria-selected="true"
                          >
                            <span class="lh-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="18"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                              </svg>
                            </span>
                            <span class="ms-1 d-none d-lg-block">Preview</span>
                          </a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link"
                            id="pills-TooltipDirection-code-tab"
                            data-bs-toggle="pill"
                            href="#pills-TooltipDirection-code"
                            role="tab"
                            aria-controls="pills-TooltipDirection-code"
                            aria-selected="false"
                            tabindex="-1"
                          >
                            <span class="lh-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-code"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 8l-4 4l4 4" />
                                <path d="M17 8l4 4l-4 4" />
                                <path d="M14 4l-4 16" />
                              </svg>
                            </span>
                            <span class="ms-1 d-none d-lg-block">Code</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="tab-content border-top" id="pills-tabTwoContent">
                        <div
                          class="tab-pane tab-example-preview fade show active p-5 bg-gray-100"
                          id="pills-TooltipDirection-preview"
                          role="tabpanel"
                          aria-labelledby="pills-TooltipDirection-preview-tab"
                        >
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">Tooltip on top</button>
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on right">Tooltip on right</button>
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">Tooltip on bottom</button>
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Tooltip on left">Tooltip on left</button>
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
                            Tooltip with HTML
                          </button>
                        </div>
                        <div class="tab-pane tab-example-code fade" id="pills-TooltipDirection-code" role="tabpanel" aria-labelledby="pills-TooltipDirection-code-tab">
                          <pre
                            class="language-markup"
                            tabindex="0"
                          ><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-secondary<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-toggle</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>tooltip<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-placement</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>top<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-title</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Tooltip on top<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
Tooltip on top
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-secondary<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-toggle</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>tooltip<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-placement</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>right<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-title</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Tooltip on right<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
Tooltip on right
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-secondary<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-toggle</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>tooltip<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-placement</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>bottom<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-title</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Tooltip on bottom<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
Tooltip on bottom
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-secondary<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-toggle</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>tooltip<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-placement</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>left<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-title</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Tooltip on left<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
Tooltip on left
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-secondary<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-toggle</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>tooltip<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-html</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>true<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-title</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>&lt;em&gt;Tooltip&lt;/em&gt; &lt;u&gt;with&lt;/u&gt; &lt;b&gt;HTML&lt;/b&gt;<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Tooltip with HTML<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span></code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="border rounded-3 overflow-hidden">
                  <div class="row align-items-center py-2 px-5">
                    <div class="col-lg-8 col-xl-8 col-7">
                      <div>
                        <h3 class="text-truncate h5 mb-0" id="customtooltips">Custom tooltips</h3>
                      </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-5 d-flex justify-content-end">
                      <ul class="nav nav-pills nav-custom-pill" id="pills-tabTwo" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link active"
                            id="pills-CustomTooltip-preview-tab"
                            data-bs-toggle="pill"
                            href="#pills-CustomTooltip-preview"
                            role="tab"
                            aria-controls="pills-CustomTooltip-preview"
                            aria-selected="true"
                          >
                            <span class="lh-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="18"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                              </svg>
                            </span>
                            <span class="ms-1 d-none d-lg-block">Preview</span>
                          </a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link"
                            id="pills-CustomTooltip-code-tab"
                            data-bs-toggle="pill"
                            href="#pills-CustomTooltip-code"
                            role="tab"
                            aria-controls="pills-CustomTooltip-code"
                            aria-selected="false"
                            tabindex="-1"
                          >
                            <span class="lh-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-code"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 8l-4 4l4 4" />
                                <path d="M17 8l4 4l-4 4" />
                                <path d="M14 4l-4 16" />
                              </svg>
                            </span>
                            <span class="ms-1 d-none d-lg-block">Code</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="tab-content border-top" id="pills-tabTwoContent">
                        <div class="tab-pane tab-example-preview fade show active p-5 bg-gray-100" id="pills-CustomTooltip-preview" role="tabpanel" aria-labelledby="pills-CustomTooltip-preview-tab">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="This top tooltip is themed via CSS variables."
                          >
                            Custom tooltip
                          </button>
                        </div>
                        <div class="tab-pane tab-example-code fade" id="pills-CustomTooltip-code" role="tabpanel" aria-labelledby="pills-CustomTooltip-code-tab">
                          <pre
                            class="language-markup"
                            tabindex="0"
                          ><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-secondary<span class="token punctuation">"</span></span>
<span class="token attr-name">data-bs-toggle</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>tooltip<span class="token punctuation">"</span></span> <span class="token attr-name">data-bs-placement</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>top<span class="token punctuation">"</span></span>
<span class="token attr-name">data-bs-custom-class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>custom-tooltip<span class="token punctuation">"</span></span>
<span class="token attr-name">data-bs-title</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>This top tooltip is themed via CSS variables.<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
Custom tooltip
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span></code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 d-none d-xl-flex">
              <!-- sidebar nav fixed -->
              <div class="sidebar-nav-fixed">
                <span class="d-block h2 fs-6"> On this page </span>
                <ul class="list-unstyled">
                  <li>
                    <a href="#directions" class="active">1. Tooltip</a>
                  </li>
                  <li>
                    <a href="#customtooltips">2. Custom tooltips</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <footer class="container-fluid py-3 border-top bg-gray-100 text-center position-relative z-1">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="small">
                Copyright © 2025
                <span class="text-primary">
                  <a href="#">Dasher Admin Bootstrap 5 Theme</a>
                </span>
                | Designed by
                <span class="text-primary">
                  <a href="#">CodesCandy</a>
                </span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% include "partials/scripts.html.twig" %}
    <script src="https://cdn.jsdelivr.net/npm/sticky-sidebar@3/dist/sticky-sidebar.min.js"></script>
    <script src="{{ asset('js/vendors/sticky.js') }}"></script>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-scss.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="{{ asset('js/vendors/sidebar-menu.js') }}"></script>
  </body>
</html>
