<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head/head-meta.html.twig" %}
    <title>Blog | Dasher - Responsive Bootstrap 5 Admin Dashboard</title>
    {% include "partials/head/head-links.html.twig" %}
  </head>

  <body>
    <!-- Vertical Sidebar -->
    <div>
      {% include "partials/sidebar-collapse.html.twig" %}

      <!-- Main Content -->
      <div id="content" class="position-relative h-100">
        {% include "partials/topbar-second.html.twig" %}
        <!-- container -->
        <div class="custom-container">
          <!-- row -->
          <div class="row mb-6">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Page header -->
              <div class="d-flex justify-content-between align-items-center">
                <h1 class="mb-0 h2">Overview</h1>
                <div class="d-flex align-items-center gap-3">
                  <a href="#!" class="btn btn-white">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 5l0 14" />
                        <path d="M5 12l14 0" />
                      </svg>
                    </span>
                    View Site
                  </a>
                  <a href="#!" class="btn btn-primary">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
                        <path d="M11 13l9 -9" />
                        <path d="M15 4h5v5" />
                      </svg>
                    </span>
                    New Post
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row mb-6 gy-6">
            <div class="col-xl-8 col-12">
              <!-- card -->
              <div class="card card-lg mb-6 p-6 rounded-4">
                <!-- row -->
                <div class="row align-items-center gy-6">
                  <div class="col-md-4 col-12">
                    <div class="px-4 d-flex flex-column gap-4">
                      <div class="d-flex align-items-center gap-2">
                        <span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-users text-secondary"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                            <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                            <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                            <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                          </svg>
                        </span>
                        <span class="lh-1"> Total Subscriber</span>
                      </div>

                      <div class="d-flex align-items-center gap-3">
                        <span class="fs-2 fw-bold">13,042</span>
                        <span>
                          <span class="icon-shape icon-xxs bg-success-subtle text-success-emphasis rounded-1">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 5l0 14" />
                              <path d="M18 11l-6 -6" />
                              <path d="M6 11l6 -6" />
                            </svg>
                          </span>

                          <span class="text-primary-emphasis"> + 2.29% </span>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12 border-start-md border-dashed">
                    <div class="px-4 d-flex flex-column gap-4">
                      <div class="d-flex align-items-center gap-2">
                        <span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-user-dollar text-secondary"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h3" />
                            <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M19 21v1m0 -8v1" />
                          </svg>
                        </span>
                        <span class="lh-1"> Paid Subscriber</span>
                      </div>

                      <div class="d-flex align-items-center gap-3">
                        <span class="fs-2 fw-bold">3,207</span>
                        <span>
                          <span class="icon-shape icon-xxs bg-success-subtle text-success-emphasis rounded-1">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 5l0 14" />
                              <path d="M18 11l-6 -6" />
                              <path d="M6 11l6 -6" />
                            </svg>
                          </span>

                          <span class="text-primary-emphasis"> + 1.49% </span>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12 border-start-md border-dashed">
                    <div class="px-4 d-flex flex-column gap-4">
                      <div class="d-flex align-items-center gap-2">
                        <span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-user-dollar text-secondary"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h3" />
                            <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M19 21v1m0 -8v1" />
                          </svg>
                        </span>
                        <span class="lh-1"> Free Subscriber</span>
                      </div>

                      <div class="d-flex align-items-center gap-3">
                        <span class="fs-2 fw-bold">9,834</span>
                        <span>
                          <span class="icon-shape icon-xxs bg-success-subtle text-success-emphasis rounded-1">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 5l0 14" />
                              <path d="M18 11l-6 -6" />
                              <path d="M6 11l6 -6" />
                            </svg>
                          </span>

                          <span class="text-primary-emphasis"> + 4.29% </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- row -->
              <div class="row gy-6">
                <div class="col-md-4 col-12">
                  <!-- card -->
                  <div class="card card-lg bg-primary-subtle">
                    <!-- card body -->
                    <div class="card-body">
                      <div class="d-flex justify-content-between mb-10">
                        <!-- heading -->
                        <span>Post Views</span>
                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Info" class="text-reset">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                            <path d="M12 9h.01" />
                            <path d="M11 12h1v4h1" />
                          </svg>
                        </a>
                      </div>
                      <div>
                        <div class="fs-2 fw-bold">1,16,234</div>
                        <div>
                          <span>
                            <span class="icon-shape icon-xxs bg-success-darker text-success rounded-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 5l0 14"></path>
                                <path d="M18 11l-6 -6"></path>
                                <path d="M6 11l6 -6"></path>
                              </svg>
                            </span>

                            <span class="text-primary-emphasis"> + 2.29% </span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <!-- card -->
                  <div class="card card-lg bg-danger-subtle">
                    <!-- card body -->
                    <div class="card-body">
                      <div class="d-flex justify-content-between mb-10">
                        <!-- heading -->
                        <span>Open Rate</span>
                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Info" class="text-reset">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                            <path d="M12 9h.01" />
                            <path d="M11 12h1v4h1" />
                          </svg>
                        </a>
                      </div>
                      <div>
                        <div class="fs-2 fw-bold">75%</div>
                        <div>
                          <span>
                            <span class="icon-shape icon-xxs bg-danger-darker text-danger rounded-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-down"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5l0 14" />
                                <path d="M18 13l-6 6" />
                                <path d="M6 13l6 6" />
                              </svg>
                            </span>

                            <span class="text-danger-emphasis"> - 4.29% </span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <!-- card -->
                  <div class="card card-lg bg-info-subtle">
                    <!-- card body -->
                    <div class="card-body">
                      <div class="d-flex justify-content-between mb-10">
                        <!-- heading -->
                        <span>Gross Revenue</span>
                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Info" class="text-reset">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                            <path d="M12 9h.01" />
                            <path d="M11 12h1v4h1" />
                          </svg>
                        </a>
                      </div>
                      <div>
                        <div class="fs-2 fw-bold">$34,240.12</div>
                        <div>
                          <span>
                            <span class="icon-shape icon-xxs bg-info-darker text-info rounded-1">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 5l0 14"></path>
                                <path d="M18 11l-6 -6"></path>
                                <path d="M6 11l6 -6"></path>
                              </svg>
                            </span>

                            <span class="text-primary-emphasis"> +12.29% </span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <!-- card -->
              <div class="card card-lg">
                <div class="mb-8 position-relative">
                  <div>
                    <img src="../assets/images/background/profile-cover-img.jpg" alt="" class="card-img-top" />
                  </div>
                  <div class="position-absolute bottom-0 px-6" style="transform: translateY(50%)">
                    <img src="../assets/images/avatar/avatar-1.jpg" alt="" class="avatar avatar-xl rounded-circle border border-white border-3" />
                  </div>
                </div>
                <!-- card body-->
                <div class="card-body">
                  <div>
                    <div class="mb-5">
                      <h3 class="fs-4">John Doe</h3>
                      <a href="#!">dasher-ui.com/jhondoe</a>
                      <div>Passionate blogger & SEO expert</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                      <a href="#!" class="btn btn-primary">View Profile</a>
                      <div class="dropdown dropstart">
                        <a class="btn btn-icon btn-ghost btn-sm rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-dots-vertical"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                            <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                            <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                          </svg>
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item d-flex align-items-center" href="#!">Action</a>
                          <a class="dropdown-item d-flex align-items-center" href="#!">Another action</a>
                          <a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row mb-6 gy-6">
            <div class="col-xl-8 col-12">
              <!-- card -->
              <div class="card card-lg">
                <!-- card header -->
                <div class="card-header border-bottom-0">
                  <!-- heading -->
                  <h5 class="mb-5">Subscriber Growth</h5>
                  <div class="d-flex gap-4">
                    <div class="d-flex gap-1 align-items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="10"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="icon icon-tabler icons-tabler-filled icon-tabler-circle text-danger-emphasis"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z" />
                      </svg>
                      Paid Subscriber
                    </div>
                    <div class="d-flex gap-1 align-items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="10"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="icon icon-tabler icons-tabler-filled icon-tabler-circle text-danger"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z" />
                      </svg>
                      Trial Started
                    </div>
                    <div class="d-flex gap-1 align-items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="10"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="icon icon-tabler icons-tabler-filled icon-tabler-circle text-danger-light"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z" />
                      </svg>
                      Unsubscribed
                    </div>
                  </div>
                </div>
                <!-- card body -->
                <div class="card-body">
                  <div id="subscribeChart"></div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <!-- card -->
              <div class="card card-lg">
                <!--card header -->
                <div class="card-header border-bottom-0 d-flex align-items-center gap-3">
                  <h5 class="mb-0">Recent subscribers</h5>
                  <div class="text-secondary small">2,784</div>
                </div>
                <div>
                  <div class="border-bottom border-dashed px-6 py-3">
                    <div class="d-flex align-items-center gap-4">
                      <img src="../assets/images/avatar/avatar-5.jpg" alt="" class="avatar avatar-md rounded-circle" />
                      <div class="flex-fill">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="mb-0 fs-6">Jane Smith</h5>
                          <span class="badge bg-primary-subtle text-primary-emphasis">Paid</span>
                        </div>
                        <span class="text-secondary">jane@example.com</span>
                      </div>
                    </div>
                  </div>
                  <div class="border-bottom border-dashed px-6 py-3">
                    <div class="d-flex align-items-center gap-4">
                      <img src="../assets/images/avatar/avatar-3.jpg" alt="" class="avatar avatar-md rounded-circle" />
                      <div class="flex-fill">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="mb-0 fs-6">Robert Green</h5>
                          <span class="badge bg-info-subtle text-info-emphasis">Free</span>
                        </div>
                        <span class="text-secondary">robert@example.com</span>
                      </div>
                    </div>
                  </div>
                  <div class="border-bottom border-dashed px-6 py-3">
                    <div class="d-flex align-items-center gap-4">
                      <img src="../assets/images/avatar/avatar-9.jpg" alt="" class="avatar avatar-md rounded-circle" />
                      <div class="flex-fill">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="mb-0 fs-6">Emily White</h5>
                          <span class="badge bg-primary-subtle text-primary-emphasis">Paid</span>
                        </div>
                        <span class="text-secondary">emily@example.com</span>
                      </div>
                    </div>
                  </div>
                  <div class="border-bottom border-dashed px-6 py-3">
                    <div class="d-flex align-items-center gap-4">
                      <img src="../assets/images/avatar/avatar-15.jpg" alt="" class="avatar avatar-md rounded-circle" />
                      <div class="flex-fill">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="mb-0 fs-6">Alice Brown</h5>
                          <span class="badge bg-primary-subtle text-primary-emphasis">Paid</span>
                        </div>
                        <span class="text-secondary">alice@example.com</span>
                      </div>
                    </div>
                  </div>
                  <div class="px-6 py-4">
                    <div class="d-flex align-items-center gap-4">
                      <img src="../assets/images/avatar/avatar-8.jpg" alt="" class="avatar avatar-md rounded-circle" />
                      <div class="flex-fill">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="mb-0 fs-6">Michael Scott</h5>
                          <span class="badge bg-primary-subtle text-primary-emphasis">Paid</span>
                        </div>
                        <span class="text-secondary">michael@example.com</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer border-top border-dashed d-flex justify-content-center">
                  <a href="#!" class="text-inherit d-flex align-items-center gap-1">
                    View All Members
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 6l6 6l-6 6"></path>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row mb-6 gy-6">
            <div class="col-xl-7 col-12">
              <!-- card -->
              <div class="card card-lg">
                <!-- card body -->
                <div class="card-body">
                  <h5 class="mb-6">Latest post performance</h5>
                  <div class="bg-gray-100 p-6 rounded-3">
                    <div class="row align-items-center gy-3">
                      <div class="col-lg-2">
                        <img src="../assets/images/blog/blog-img-1.jpg" alt="" class="img-fluid rounded-3" />
                      </div>
                      <div class="col-lg-8">
                        <h5>Youtube Growth Marketing Strategy 2025</h5>
                        <div class="d-flex gap-3 text-secondary">
                          <span>Feb 2, 2025</span>
                          <span>John Doe</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-6">
                    <h5 class="mb-0">Post Activity</h5>
                    <a href="#!" class="text-inherit">
                      View
                      <span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                      </span>
                    </a>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-6">
                    <div class="d-flex flex-column">
                      <div class="fs-5">345</div>
                      <div class="text-secondary">Views</div>
                    </div>
                    <div class="d-flex flex-column">
                      <div class="fs-5">101</div>
                      <div class="text-secondary">Recipients</div>
                    </div>
                    <div class="d-flex flex-column">
                      <div class="fs-5">60%</div>
                      <div class="text-secondary">Open Rate</div>
                    </div>
                    <div class="d-flex flex-column">
                      <div class="fs-5">1.2k</div>
                      <div class="text-secondary">Likes</div>
                    </div>
                    <div class="d-flex flex-column">
                      <div class="fs-5">120</div>
                      <div class="text-secondary">Comments</div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center gap-3 mt-5">
                    <span class="d-flex gap-2 align-items-center">
                      <span class="icon-shape icon-xxs bg-success-subtle text-success-emphasis rounded-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M12 5l0 14"></path>
                          <path d="M18 11l-6 -6"></path>
                          <path d="M6 11l6 -6"></path>
                        </svg>
                      </span>

                      <span class="text-primary-emphasis">12 Paid Subscriptions </span>
                    </span>
                    <span class="d-flex gap-2 align-items-center">
                      <span class="icon-shape icon-xxs bg-success-subtle text-success-emphasis rounded-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M12 5l0 14"></path>
                          <path d="M18 11l-6 -6"></path>
                          <path d="M6 11l6 -6"></path>
                        </svg>
                      </span>

                      <span class="text-primary-emphasis">30 Free Subscriptions </span>
                    </span>
                  </div>
                  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4 mt-8">
                    <div class="d-flex align-items-center justify-content-center gap-2 w-100">
                      <a href="#!" class="btn btn-white w-100 d-flex align-items-center gap-2 justify-content-center">
                        <span
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-share-2"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 9h-1a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-8a2 2 0 0 0 -2 -2h-1" />
                            <path d="M12 14v-11" />
                            <path d="M9 6l3 -3l3 3" />
                          </svg>
                        </span>
                        <span>Share the Post</span></a
                      >
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-2 w-100">
                      <a href="#!" class="btn btn-white w-100 d-flex align-items-center gap-2 justify-content-center">
                        <span
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path>
                            <path d="M11 13l9 -9"></path>
                            <path d="M15 4h5v5"></path>
                          </svg>
                        </span>
                        <span>View Post</span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-12">
              <!-- card -->
              <div class="card card-lg">
                <!-- card header -->
                <div class="card-header border-bottom-0">
                  <h5 class="mb-0">Recent Comments</h5>
                </div>
                <div class="border-bottom border-dashed px-6 pb-6 pt-4">
                  <div class="d-flex gap-4">
                    <div>
                      <img src="../assets/images/avatar/avatar-6.jpg" alt="" class="avatar avatar-md rounded-circle" />
                    </div>
                    <div class="d-flex gap-6 w-100">
                      <div class="flex-fill">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                          <div class="fs-5">Jane Smith</div>
                          <div>April 28, 2025</div>
                        </div>
                        <div>
                          <p class="mb-3">Great insights on SEO strategies! Really helped my blog.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center gap-1 lh-1">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-heart text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                </svg>
                              </span>
                              <span>12</span>
                            </div>
                            <div class="d-flex align-items-center gap-1 lh-1">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-message text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M8 9h8" />
                                  <path d="M8 13h6" />
                                  <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z" />
                                </svg>
                              </span>
                              <span>3</span>
                            </div>
                            <div class="d-flex align-items-center gap-1 lh-1">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-share-3 text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                                </svg>
                              </span>
                              <span>1</span>
                            </div>
                            <div class="d-flex align-items-center gap-1 lh-1">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-share-2 text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M8 9h-1a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-8a2 2 0 0 0 -2 -2h-1" />
                                  <path d="M12 14v-11" />
                                  <path d="M9 6l3 -3l3 3" />
                                </svg>
                              </span>
                              <span>0</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="dropdown dropstart">
                          <a class="btn btn-icon btn-ghost btn-sm rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="icon icon-tabler icon-tabler-dots-vertical"
                              width="20"
                              height="20"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                              <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                              <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                            </svg>
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item d-flex align-items-center" href="#!">Action</a>
                            <a class="dropdown-item d-flex align-items-center" href="#!">Another action</a>
                            <a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="border-bottom border-dashed px-6 pb-6 pt-4">
                  <div class="d-flex gap-4">
                    <div>
                      <img src="../assets/images/avatar/avatar-3.jpg" alt="" class="avatar avatar-md rounded-circle" />
                    </div>
                    <div class="d-flex gap-6 w-100">
                      <div class="flex-fill">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                          <div class="fs-5">Michael Scott</div>
                          <div>April 28, 2025</div>
                        </div>
                        <div>
                          <p class="mb-3">Thanks for the detailed guide, very informative!</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center gap-1 lh-1">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-heart text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                </svg>
                              </span>
                              <span>43</span>
                            </div>
                            <div class="d-flex align-items-center gap-1 lh-1">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-message text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M8 9h8" />
                                  <path d="M8 13h6" />
                                  <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z" />
                                </svg>
                              </span>
                              <span>21</span>
                            </div>
                            <div class="d-flex align-items-center gap-1 lh-1">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-share-3 text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                                </svg>
                              </span>
                              <span>3</span>
                            </div>
                            <div class="d-flex align-items-center gap-1 lh-1">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-share-2 text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M8 9h-1a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-8a2 2 0 0 0 -2 -2h-1" />
                                  <path d="M12 14v-11" />
                                  <path d="M9 6l3 -3l3 3" />
                                </svg>
                              </span>
                              <span>0</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="dropdown dropstart">
                          <a class="btn btn-icon btn-ghost btn-sm rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="icon icon-tabler icon-tabler-dots-vertical"
                              width="20"
                              height="20"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                              <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                              <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                            </svg>
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item d-flex align-items-center" href="#!">Action</a>
                            <a class="dropdown-item d-flex align-items-center" href="#!">Another action</a>
                            <a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="px-6 pb-6 pt-4">
                  <div class="d-flex gap-4">
                    <div>
                      <img src="../assets/images/avatar/avatar-9.jpg" alt="" class="avatar avatar-md rounded-circle" />
                    </div>
                    <div class="d-flex gap-6 w-100">
                      <div class="flex-fill">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                          <div class="fs-5">Emily White</div>
                          <div>April 28, 2025</div>
                        </div>
                        <div>
                          <p class="mb-3">Awesome post! Looking forward to more content.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center gap-1 lh-1">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-heart text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                </svg>
                              </span>
                              <span>12</span>
                            </div>
                            <div class="d-flex align-items-center gap-1 lh-1">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-message text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M8 9h8" />
                                  <path d="M8 13h6" />
                                  <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z" />
                                </svg>
                              </span>
                              <span>4</span>
                            </div>
                            <div class="d-flex align-items-center gap-1 lh-1">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-share-3 text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                                </svg>
                              </span>
                              <span>2</span>
                            </div>
                            <div class="d-flex align-items-center gap-1 lh-1">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-share-2 text-secondary"
                                >
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M8 9h-1a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-8a2 2 0 0 0 -2 -2h-1" />
                                  <path d="M12 14v-11" />
                                  <path d="M9 6l3 -3l3 3" />
                                </svg>
                              </span>
                              <span>0</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="dropdown dropstart">
                          <a class="btn btn-icon btn-ghost btn-sm rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="icon icon-tabler icon-tabler-dots-vertical"
                              width="20"
                              height="20"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                              <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                              <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                            </svg>
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item d-flex align-items-center" href="#!">Action</a>
                            <a class="dropdown-item d-flex align-items-center" href="#!">Another action</a>
                            <a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer border-top border-dashed d-flex justify-content-center">
                  <a href="#!" class="text-inherit d-flex align-items-center gap-1">
                    View
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 6l6 6l-6 6"></path>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-6">
            <div class="col-12">
              <!-- card -->
              <div class="card card-lg">
                <!-- card header -->
                <div class="card-header border-bottom-0">
                  <h5 class="mb-0">Recent Post</h5>
                </div>
                <!-- table -->
                <div class="table-responsive">
                  <table class="table table-centered text-nowrap mb-0">
                    <thead>
                      <tr>
                        <th>Blog Title</th>
                        <th>Post Views</th>
                        <th>Subscriber</th>
                        <th>Likes</th>
                        <th>Comments</th>
                        <th>Status</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center gap-4">
                            <div>
                              <a href="#!"><img src="../assets/images/blog/blog-img-1.jpg" alt="" class="rounded-3" width="56" height="56" /></a>
                            </div>
                            <div>
                              <h5 class="mb-1 fs-6"><a href="#!" class="text-inherit">Youtube Growth Marketing Strategy 2025</a></h5>
                              <div class="d-flex gap-3 text-secondary">
                                <span>Feb 2, 2025</span>
                                <span>John Doe</span>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>
                          <span class="badge bg-info-subtle text-info-emphasis">Scheduled</span>
                        </td>
                        <td>
                          <div class="dropdown dropstart">
                            <a class="btn btn-icon btn-ghost btn-sm rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-dots-vertical"
                                width="20"
                                height="20"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                              </svg>
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item d-flex align-items-center" href="#!">Action</a>
                              <a class="dropdown-item d-flex align-items-center" href="#!">Another action</a>
                              <a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center gap-4">
                            <div>
                              <a href="#!"><img src="../assets/images/blog/blog-img-2.jpg" alt="" class="rounded-3" width="56" height="56" /></a>
                            </div>
                            <div>
                              <h5 class="mb-1 fs-6"><a href="#!" class="text-inherit">Monetization Tips for Blogs</a></h5>
                              <div class="d-flex gap-3 text-secondary">
                                <span>Feb 20, 2025</span>
                                <span>Alice Brown</span>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>1,345</td>
                        <td>21</td>
                        <td>32</td>
                        <td>120</td>
                        <td>
                          <span class="badge bg-primary-subtle text-primary-emphasis">Published</span>
                        </td>
                        <td>
                          <div class="dropdown dropstart">
                            <a class="btn btn-icon btn-ghost btn-sm rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-dots-vertical"
                                width="20"
                                height="20"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                              </svg>
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item d-flex align-items-center" href="#!">Action</a>
                              <a class="dropdown-item d-flex align-items-center" href="#!">Another action</a>
                              <a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center gap-4">
                            <div>
                              <a href="#!"><img src="../assets/images/blog/blog-img-3.jpg" alt="" class="rounded-3" width="56" height="56" /></a>
                            </div>
                            <div>
                              <h5 class="mb-1 fs-6"><a href="#!" class="text-inherit">Best Blogging Practices</a></h5>
                              <div class="d-flex gap-3 text-secondary">
                                <span>Feb 14, 2025</span>
                                <span>Robert Green</span>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>
                          <span class="badge bg-warning-subtle text-warning-emphasis">Draft</span>
                        </td>
                        <td>
                          <div class="dropdown dropstart">
                            <a class="btn btn-icon btn-ghost btn-sm rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-dots-vertical"
                                width="20"
                                height="20"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                              </svg>
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item d-flex align-items-center" href="#!">Action</a>
                              <a class="dropdown-item d-flex align-items-center" href="#!">Another action</a>
                              <a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center gap-4">
                            <div>
                              <a href="#!"><img src="../assets/images/blog/blog-img-4.jpg" alt="" class="rounded-3" width="56" height="56" /></a>
                            </div>
                            <div>
                              <h5 class="mb-1 fs-6"><a href="#!" class="text-inherit">Email Marketing for Bloggers</a></h5>
                              <div class="d-flex gap-3 text-secondary">
                                <span>Feb 12, 2025</span>
                                <span>John Doe</span>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>2,345</td>
                        <td>21</td>
                        <td>42</td>
                        <td>314</td>
                        <td>
                          <span class="badge bg-primary-subtle text-primary-emphasis">Published</span>
                        </td>
                        <td>
                          <div class="dropdown dropstart">
                            <a class="btn btn-icon btn-ghost btn-sm rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-dots-vertical"
                                width="20"
                                height="20"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                              </svg>
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item d-flex align-items-center" href="#!">Action</a>
                              <a class="dropdown-item d-flex align-items-center" href="#!">Another action</a>
                              <a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center gap-4">
                            <div>
                              <a href="#!"><img src="../assets/images/blog/blog-img-5.jpg" alt="" class="rounded-3" width="56" height="56" /></a>
                            </div>
                            <div>
                              <h5 class="mb-1 fs-6"><a href="#!" class="text-inherit">SEO Best Practices in 2025</a></h5>
                              <div class="d-flex gap-3 text-secondary">
                                <span>Feb 2, 2025</span>
                                <span>Emily White</span>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>12,345</td>
                        <td>21</td>
                        <td>3.4k</td>
                        <td>314</td>
                        <td>
                          <span class="badge bg-primary-subtle text-primary-emphasis">Published</span>
                        </td>
                        <td>
                          <div class="dropdown dropstart">
                            <a class="btn btn-icon btn-ghost btn-sm rounded-circle" href="#!" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-dots-vertical"
                                width="20"
                                height="20"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                              </svg>
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item d-flex align-items-center" href="#!">Action</a>
                              <a class="dropdown-item d-flex align-items-center" href="#!">Another action</a>
                              <a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- card footer -->
                <div class="card-footer border-top border-dashed d-flex justify-content-end">
                  <a href="#!" class="text-inherit d-flex align-items-center gap-1">
                    View
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 6l6 6l-6 6"></path>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->

    <!-- popper js -->

    {% include "partials/scripts.html.twig" %}
    <script src="{{ asset('js/vendors/sidebarnav.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ asset('js/vendors/chart.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <!-- tippy js -->
    <script src="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy-bundle.umd.min.js"></script>
    <script src="{{ asset('js/vendors/tippy.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="{{ asset('js/vendors/choice.js') }}"></script>
  </body>
</html>
